force-app/main/default/flows/Account_Team_Before_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Clear_AE_on_Account</name>
        <label>Clear AE on Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Account_Executive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Account_Need_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_CSM_on_Account</name>
        <label>Clear CSM on Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Customer_Success_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Account_Need_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Implementation_Rep_on_Account</name>
        <label>Clear Implementation Rep on Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Implementation_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Account_Need_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_SDR_on_Account</name>
        <label>Clear SDR on Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>account.Sales_Development_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Account_Need_Updated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Account_Need_Updated</name>
        <label>Does Account Need Updated?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Don&apos;t Update</defaultConnectorLabel>
        <rules>
            <name>Update_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_dml</targetReference>
            </connector>
            <label>Update Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_an_Account_Team_Lookup</name>
        <label>Is This an Account Team Lookup?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Does_Account_Need_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not In Lookups</defaultConnectorLabel>
        <rules>
            <name>Is_AE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Account_Executive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.UserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_AE_on_Account</targetReference>
            </connector>
            <label>Is AE</label>
        </rules>
        <rules>
            <name>Is_SDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Sales_Development_Rep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.UserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_SDR_on_Account</targetReference>
            </connector>
            <label>Is SDR</label>
        </rules>
        <rules>
            <name>Is_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Customer_Success_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.UserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_CSM_on_Account</targetReference>
            </connector>
            <label>Is CSM</label>
        </rules>
        <rules>
            <name>Is_Implementation_Rep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Implementation_Rep__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.UserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Implementation_Rep_on_Account</targetReference>
            </connector>
            <label>Is Implementation Rep?</label>
        </rules>
    </decisions>
    <description>added Implementation Rep</description>
    <environments>Default</environments>
    <interviewLabel>[Account Team] Before Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Account Team] Before Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_dml</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>account</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_This_an_Account_Team_Lookup</targetReference>
        </connector>
        <object>AccountTeamMember</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>updateAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
