force-app/main/default/flows/ALF_Expansion_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_QLI_to_Collection</name>
        <label>Add QLI to Collection</label>
        <locationX>162</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>CollQLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLITemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Old_Renewal_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QLI</name>
        <label>Assign QLI</label>
        <locationX>138</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>QLITemp.Bookings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QLI.Bookings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QLI.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QLI.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Expansion_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QLI.Recurring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Term_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Term_Year_CNDYBX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Total_List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QLI.Total_List_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Total_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QLI.Total_Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QLI.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QLI.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_QLI.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal_Opp_Values</name>
        <label>Assign Renewal Opp Values</label>
        <locationX>50</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>Get_Renewal_Opportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedOppName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Renewal_Opportunity.SyncedQuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Expansion_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Renewal_Opportunity.Original_ACV__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varOriginalOpportunity.ACV__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Renewal_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Renewal_QLI</name>
        <label>Assign Renewal QLI</label>
        <locationX>162</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>QLITemp.Bookings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.Bookings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Expansion_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.Recurring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Term_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.Term_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Term_Year_CNDYBX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.Term_Year_CNDYBX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Total_List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.Total_List_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Total_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.Total_Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLITemp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Old_Renewal_Items.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_QLI_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>138</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>CollQLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLITemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_QLI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Quote_Line_Items_Found</name>
        <label>Quote Line Items Found?</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_QLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Line_Items</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_QLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Renewal_Quote_Line_Items_Found</name>
        <label>Renewal Quote Line Items Found?</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Renewal_Line_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Old_Renewal_Line_Items</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Old_Renewal_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Synced_Quote_Found</name>
        <label>Synced Quote Found</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Renewal_Quote_Line_Items_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Quote_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Synced_Quote</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Expansion_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Removed Final Year ARR</description>
    <environments>Default</environments>
    <formulas>
        <name>ExpansionQuoteName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!varOriginalOpportunity.Name},&quot;Expansion&quot;,&quot;Amended Renewal Quote&quot;)</expression>
    </formulas>
    <formulas>
        <name>originalACV</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!Get_Renewal_Opportunity.Original_ACV__c},0)+BLANKVALUE({!varOriginalOpportunity.ACV__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>StartDateFormula</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!Get_Renewal_Opportunity.Contract_Start_Date__c}),{!Get_Contract.StartDate},{!Get_Renewal_Opportunity.Contract_Start_Date__c})</expression>
    </formulas>
    <interviewLabel>[ALF] Expansion Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[ALF] Expansion Opportunity</label>
    <loops>
        <name>Loop_through_Old_Renewal_Items</name>
        <label>Loop through Old Renewal Items</label>
        <locationX>74</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Old_Renewal_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Renewal_QLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_QLI</name>
        <label>Loop Through QLI</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <collectionReference>Get_Quote_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_QLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Expansion_QLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Expansion_QLIs</name>
        <label>Create Expansion QLIs</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Get_Renewal_Quote_Details</targetReference>
        </connector>
        <inputReference>CollQLI</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Expansion_Quote</name>
        <label>Create Expansion Quote</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_Old_Renewal_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Auto_Renew__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Get_Synced_Quote.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Get_Synced_Quote.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>Get_Synced_Quote.BillingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Get_Synced_Quote.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_Synced_Quote.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Get_Synced_Quote.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Contact_Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.Contract_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.Contract_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ExpansionQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_ACV__c</field>
            <value>
                <elementReference>originalACV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Synced_Quote.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Provisions__c</field>
            <value>
                <elementReference>Get_Synced_Quote.Special_Provisions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Months__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Synced_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOriginalOpportunity.Amended_Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Renewal_Line_Items</name>
        <label>Get Old Renewal Line Items</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Renewal_Quote_Line_Items_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Renewal_Opportunity.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Line_Items_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Synced_Quote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recurring__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsHighestTermYear__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Opportunity</name>
        <label>Get Renewal Opportunity</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOriginalOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Quote_Details</name>
        <label>Get Renewal Quote Details</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Original_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Expansion_Quote</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Record_Type_Id</name>
        <label>Get Renewal Record Type Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Renewal_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Synced_Quote</name>
        <label>Get Synced Quote</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Synced_Quote_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOriginalOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSyncing</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Original_Opportunity</name>
        <label>Update Original Opportunity</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Assign_Renewal_Opp_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOriginalOpportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reconcile_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Opportunity__c</field>
            <value>
                <elementReference>Get_Renewal_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Opportunity</name>
        <label>Update Renewal Opportunity</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Update_Status_on_Expansion_Quote</targetReference>
        </connector>
        <inputReference>Get_Renewal_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_on_Expansion_Quote</name>
        <label>Update Status on Expansion Quote</label>
        <locationX>50</locationX>
        <locationY>2738</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Expansion_Quote</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Synced</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Renewal_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>UpdatedOppName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>!varOriginalOpportunity.Account.Name} I Renewal | {!Get_Renewal_Quote_Details.Contract_Start_Date__c} | ${!Get_Renewal_Quote_Details.Year_1_ARR__c}</text>
    </textTemplates>
    <variables>
        <name>CollQLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QLITemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varOriginalOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
