force-app/main/default/flows/ALF_Update_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Asset_Collection</name>
        <label>Add to Asset Collection</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AssetsListCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>assetToBeCreated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Fields</name>
        <label>Set Opportunity Fields</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varOriginalOpportunity.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurring_Details</name>
        <label>Set Recurring Details</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Bookings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Bookings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Recurring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Duration_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Total_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Total_Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Total_List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Total_List_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Term_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Term_Year_CNDYBX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOriginalOpportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOriginalOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOriginalOpportunity.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Recurring_Products_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentItem_Recurring_Products_Opportunity.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assetToBeCreated.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Asset_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Products_Found</name>
        <label>Products Found?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Product_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Products</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used for Expansion Opps</description>
    <environments>Default</environments>
    <interviewLabel>[ALF] Update Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[ALF] Update Contract</label>
    <loops>
        <name>Loop_Products</name>
        <label>Loop Products</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Opportunity_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Recurring_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assets</name>
        <label>Create Assets</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Set_Opportunity_Fields</targetReference>
        </connector>
        <inputReference>AssetsListCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Contract</name>
        <label>Get Active Contract</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOriginalOpportunity.Amended_Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Products</name>
        <label>Get Opportunity Products</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Products_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOriginalOpportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Opportunity</name>
        <label>Get Renewal Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOriginalOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <inputReference>varOriginalOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Renewal_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetsListCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>currentItem_Non_Recurring_Products_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Recurring_Products_Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>SubscriptionToBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varOriginalOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
