force-app/main/default/flows/ALF_Renewal_Contract_Creation_CDYBX.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection_Assets</name>
        <label>Add to Collection (Assets)</label>
        <locationX>270</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>AssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssetLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_Opp_Line_Items</name>
        <label>Add to Collection (Opp Line Items)</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OppLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppLineItemTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OppLineItemLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_Quote_Lines</name>
        <label>Add to Collection (Quote Lines)</label>
        <locationX>270</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QuoteLinesLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Vars_Assets</name>
        <label>Add Vars (Assets)</label>
        <locationX>270</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>AssetTemp.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Total_List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.Total_List_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Total_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.Total_Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Bookings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.Bookings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Duration_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.Recurring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Term_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.Term_Year_CNDYBX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLoop.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssetTemp.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Vars_Opp_Line_Items</name>
        <label>Add Vars (Opp Line Items)</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Renewal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forOppLineStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.End_Date_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forOppLineEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.Recurring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Total_List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.Total_List_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Total_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.Total_Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Bookings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.Bookings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Term_Year_CNDYBX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Vars_Quote_Lines</name>
        <label>Add Vars (Quote Lines)</label>
        <locationX>270</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Renewal_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLinesLoop.Recurring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLinesLoop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLinesLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLinesLoop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLinesLoop.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forQuoteLineStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Term_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Term_Year_CNDYBX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Total_List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLinesLoop.Total_List_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Total_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLinesLoop.Total_Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Bookings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLinesLoop.Bookings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLinesLoop.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteLinesLoop.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Synced_Quote_Available</name>
        <label>Synced Quote Available?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SyncedQuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lines</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Renewable line formula added</description>
    <environments>Default</environments>
    <formulas>
        <name>forOppLineEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  {!OppLineItemLoop.Term_Months__c} = 0,
  {!forOppLineStartDate} + 1,
  IF(
    {!OppLineItemLoop.Term_Months__c} - FLOOR({!OppLineItemLoop.Term_Months__c}) = 0,
    ADDMONTHS({!forOppLineStartDate}, FLOOR({!OppLineItemLoop.Term_Months__c})) - 1,
    {!forOppLineStartDate} + ({!OppLineItemLoop.Term_Months__c} * 30.44)
  )
)</expression>
    </formulas>
    <formulas>
        <name>forOppLineStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  ISBLANK({!OppLineItemLoop.End_Date_Product__c}),
  {!OppLineItemLoop.End_Date__c} + 1,
  {!OppLineItemLoop.End_Date_Product__c} + 1
)</expression>
    </formulas>
    <formulas>
        <name>forQuoteLineStartDate</name>
        <dataType>Date</dataType>
        <expression>{!QuoteLinesLoop.End_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>RenewalCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!RenewalStartDate}-1</expression>
    </formulas>
    <formulas>
        <name>RenewalEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!RenewalStartDate},12)-1</expression>
    </formulas>
    <formulas>
        <name>RenewalName</name>
        <dataType>String</dataType>
        <expression>{!recordId.Account.Name} + &quot; - Renewal - &quot; + TEXT({!RenewalStartDate})</expression>
    </formulas>
    <formulas>
        <name>RenewalQuoteName</name>
        <dataType>String</dataType>
        <expression>{!recordId.Account.Name} + &apos; - Renewal - &apos; + TEXT({!RenewalStartDate}) + &apos; - Quote&apos;</expression>
    </formulas>
    <formulas>
        <name>RenewalStartDate</name>
        <dataType>Date</dataType>
        <expression>{!recordId.Contract_End_Date__c}+1</expression>
    </formulas>
    <interviewLabel>[ALF] Renewal/Contract Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[ALF] Renewal/Contract Creation</label>
    <loops>
        <name>AssetLoop</name>
        <label>AssetLoop</label>
        <locationX>182</locationX>
        <locationY>2438</locationY>
        <collectionReference>Get_Opp_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Vars_Assets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OppLineItemLoop</name>
        <label>OppLineItemLoop</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Vars_Opp_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Renewal_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>QuoteLinesLoop</name>
        <label>QuoteLinesLoop</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Vars_Quote_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assets</name>
        <label>Create Assets</label>
        <locationX>182</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputReference>AssetList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <elementReference>recordId.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>recordId.Auto_Renew__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Name__c</field>
            <value>
                <elementReference>recordId.Bill_To_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>recordId.Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>recordId.Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>recordId.Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>recordId.Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>recordId.Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact__c</field>
            <value>
                <elementReference>recordId.Billing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>recordId.Contact_Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>recordId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>recordId.Contract_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Period__c</field>
            <value>
                <elementReference>recordId.Invoice_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Language__c</field>
            <value>
                <elementReference>recordId.Legal_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Renewal_Notice_Days__c</field>
            <value>
                <elementReference>recordId.Non_Renewal_Notice_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Period__c</field>
            <value>
                <elementReference>recordId.Payment_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>recordId.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>recordId.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>recordId.Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>recordId.Account.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>recordId.Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>recordId.Account.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>recordId.Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Provisions__c</field>
            <value>
                <elementReference>recordId.Special_Provisions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>recordId.Contract_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCV__c</field>
            <value>
                <elementReference>recordId.TCV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Months__c</field>
            <value>
                <elementReference>recordId.Term_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_1_ARR__c</field>
            <value>
                <elementReference>recordId.Year_1_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_1_Bookings__c</field>
            <value>
                <elementReference>recordId.Year_1_Bookings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_2_ARR__c</field>
            <value>
                <elementReference>recordId.Year_2_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_2_Bookings__c</field>
            <value>
                <elementReference>recordId.Year_2_Bookings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_3_ARR__c</field>
            <value>
                <elementReference>recordId.Year_3_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_3_Bookings__c</field>
            <value>
                <elementReference>recordId.Year_3_Bookings__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Lines</name>
        <label>Create Quote Lines</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
        <inputReference>QuoteLineList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal</name>
        <label>Create Renewal</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Synced_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>ACV_Growth__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <elementReference>recordId.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>recordId.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>recordId.Auto_Renew__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Name__c</field>
            <value>
                <elementReference>recordId.Bill_To_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact__c</field>
            <value>
                <elementReference>recordId.SyncedQuote.Contact_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>RenewalCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Billing_Email__c</field>
            <value>
                <elementReference>recordId.Contact_Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>RenewalStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Period__c</field>
            <value>
                <elementReference>recordId.Invoice_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Language__c</field>
            <value>
                <elementReference>recordId.Legal_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRR__c</field>
            <value>
                <elementReference>recordId.MRR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RenewalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Renewal_Notice_Days__c</field>
            <value>
                <elementReference>recordId.Non_Renewal_Notice_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_ACV__c</field>
            <value>
                <elementReference>recordId.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Opportunity__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Renewal_Date__c</field>
            <value>
                <elementReference>RenewalCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Period__c</field>
            <value>
                <elementReference>recordId.Payment_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>recordId.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>recordId.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RenewalRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Provisions__c</field>
            <value>
                <elementReference>recordId.Special_Provisions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Internal Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCV__c</field>
            <value>
                <elementReference>recordId.TCV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Months__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_1_ARR__c</field>
            <value>
                <elementReference>recordId.Year_1_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_1_Bookings__c</field>
            <value>
                <elementReference>recordId.Year_1_Bookings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_2_ARR__c</field>
            <value>
                <elementReference>recordId.Year_2_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_2_Bookings__c</field>
            <value>
                <elementReference>recordId.Year_2_Bookings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_3_ARR__c</field>
            <value>
                <elementReference>recordId.Year_3_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_3_Bookings__c</field>
            <value>
                <elementReference>recordId.Year_3_Bookings__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Line_Items</name>
        <label>Create Renewal Line Items</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Create_Renewal_Quote</targetReference>
        </connector>
        <inputReference>OppLineItemList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Quote</name>
        <label>Create Renewal Quote</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
        <inputAssignments>
            <field>ACV_Growth__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>recordId.SyncedQuote.Auto_Renew__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>recordId.SyncedQuote.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>recordId.SyncedQuote.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>recordId.SyncedQuote.BillingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>recordId.SyncedQuote.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>recordId.SyncedQuote.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>recordId.SyncedQuote.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>recordId.SyncedQuote.Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId.SyncedQuote.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>RenewalEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>RenewalStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>recordId.SyncedQuote.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Period__c</field>
            <value>
                <elementReference>recordId.SyncedQuote.Invoice_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Language__c</field>
            <value>
                <elementReference>recordId.SyncedQuote.Legal_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RenewalQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Renewal_Notice_Days__c</field>
            <value>
                <elementReference>recordId.SyncedQuote.Non_Renewal_Notice_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_ACV__c</field>
            <value>
                <elementReference>recordId.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Period__c</field>
            <value>
                <elementReference>recordId.SyncedQuote.Payment_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>recordId.SyncedQuote.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>recordId.SyncedQuote.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Provisions__c</field>
            <value>
                <elementReference>recordId.Special_Provisions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Months__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lines</name>
        <label>Get Lines</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OppLineItemLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recurring__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Renewable_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Line_Items</name>
        <label>Get Opp Line Items</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssetLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recurring__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuoteLinesLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recurring__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Renewalable_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Synced_Quote</name>
        <label>Get Synced Quote</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Synced_Quote_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Quote</name>
        <label>Quote</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Renewal_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>182</locationX>
        <locationY>2954</locationY>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Contract__c</field>
            <value>
                <elementReference>Create_Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lifecycle_Stage__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>recordId.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>182</locationX>
        <locationY>3062</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lifecycle_Stage__c</field>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Update_Renewal_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>Create_Contract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Opportunity__c</field>
            <value>
                <elementReference>Create_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Opportunity</name>
        <label>Update Renewal Opportunity</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Update_Renewal_Quote_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Renewal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>Create_Renewal_Quote</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Quote_Status</name>
        <label>Update Renewal Quote Status</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Get_Opp_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Renewal_Quote</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Synced</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Renewal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>OppLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppLineItemTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>opportunity renewal record type id</description>
        <name>RenewalRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012fi000000880RAAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>varStageDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
