force-app/main/default/flows/ALF_Get_Quote_Files.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ContentDocumentLink</name>
        <label>Assign ContentDocumentLink</label>
        <locationX>138</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>recContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Files.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Files</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_to_Opp_Files</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Opp Files</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Opp_Files</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Files</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Opp_Files.LinkedEntityId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>oppRecord.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Opp_Files</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Quote_Files</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Quote Files</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Quote_Files</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Files</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Quote_Files.LinkedEntityId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Get_Quote.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Quote_Files</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>File_is_Completed_Agreements</name>
        <label>File is Completed Agreements</label>
        <locationX>270</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Loop_Quote_Files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, is not Completed</defaultConnectorLabel>
        <rules>
            <name>Yes_is_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Files.ContentDocument.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NikoHealth agreements</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ContentDocumentLink</targetReference>
            </connector>
            <label>Yes, is Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Signed_Completed_Doc</name>
        <label>Has Signed Completed Doc</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_Opp_Files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, does not have completed doc</defaultConnectorLabel>
        <rules>
            <name>Yes_has_completed_doc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Opp_Files.ContentDocument.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>agreements</stringValue>
                </rightValue>
            </conditions>
            <label>Yes, has completed doc</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Syncing_Quote</name>
        <label>Is There a Syncing Quote?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>There is not Quote</defaultConnectorLabel>
        <rules>
            <name>There_is_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Files</targetReference>
            </connector>
            <label>There is Quote</label>
        </rules>
    </decisions>
    <description>original candybox flow</description>
    <environments>Default</environments>
    <interviewLabel>[ALF] Get Quote Files {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[ALF] Get Quote Files</label>
    <loops>
        <name>Loop_Opp_Files</name>
        <label>Loop Opp Files</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Filter_to_Opp_Files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Has_Signed_Completed_Doc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_to_Quote_Files</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Quote_Files</name>
        <label>Loop Quote Files</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <collectionReference>Filter_to_Quote_Files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>File_is_Completed_Agreements</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>50</locationX>
        <locationY>1658</locationY>
        <inputReference>recContentDocumentLink</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Files</name>
        <label>Get Files</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_to_Opp_Files</targetReference>
        </connector>
        <filterLogic>(1 OR 3) AND 2</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_a_Syncing_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oppRecord.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_Filter_to_Opp_Files</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Quote_Files</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>oppRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
