force-app/main/default/flows/Asset_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Mismatched_Status</name>
        <label>Mismatched Status</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Don&apos;t Update Status</defaultConnectorLabel>
        <rules>
            <name>Update_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Contract__r.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Asset</targetReference>
            </connector>
            <label>Update Status</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Asset] Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Asset] Before Save Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Status_Asset</name>
        <label>Update Status</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Contract__r.Status</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Mismatched_Status</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
