force-app/main/default/flows/Contract_Generate_Renewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection_Opp_Line_Items</name>
        <label>Add to Collection (Opp Line Items)</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>OppLineItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppLineItemTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OppLineItemLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_Quote_Lines</name>
        <label>Add to Collection (Quote Lines)</label>
        <locationX>270</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineTemp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssetLinesLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Vars_Opp_Line_Items</name>
        <label>Add Vars (Opp Line Items)</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Renewal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forOppLineStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.End_Date_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forOppLineEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.Recurring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Total_List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.Total_List_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Total_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.Total_Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Bookings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.Bookings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Term_Year_CNDYBX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppLineItemLoop.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppLineItemTemp.Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Vars_Quote_Lines</name>
        <label>Add Vars (Quote Lines)</label>
        <locationX>270</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Renewal_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLinesLoop.Recurring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLinesLoop.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLinesLoop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLinesLoop.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLinesLoop.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forQuoteLineStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Term_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Term_Year_CNDYBX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Total_List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLinesLoop.Total_List_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Total_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLinesLoop.Total_Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Bookings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLinesLoop.Bookings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetLinesLoop.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineTemp.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricebook_Entry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Synced_Quote_Available</name>
        <label>Synced Quote Available?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputOpportunityRecord.SyncedQuoteId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lines</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>for bulk update</description>
    <environments>Default</environments>
    <formulas>
        <name>forOppLineEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  {!OppLineItemLoop.Term_Months__c} = 0,
  {!forOppLineStartDate} + 1,
  IF(
    {!OppLineItemLoop.Term_Months__c} - FLOOR({!OppLineItemLoop.Term_Months__c}) = 0,
    ADDMONTHS({!forOppLineStartDate}, FLOOR({!OppLineItemLoop.Term_Months__c})) - 1,
    {!forOppLineStartDate} + ({!OppLineItemLoop.Term_Months__c} * 30.44)
  )
)</expression>
    </formulas>
    <formulas>
        <name>forOppLineStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  ISBLANK({!OppLineItemLoop.End_Date_Product__c}),
  {!OppLineItemLoop.End_Date__c} + 1,
  {!OppLineItemLoop.End_Date_Product__c} + 1
)</expression>
    </formulas>
    <formulas>
        <name>forQuoteLineStartDate</name>
        <dataType>Date</dataType>
        <expression>{!AssetLinesLoop.End_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>RenewalCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!RenewalStartDate}-1</expression>
    </formulas>
    <formulas>
        <name>RenewalEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!RenewalStartDate},12)-1</expression>
    </formulas>
    <formulas>
        <name>RenewalName</name>
        <dataType>String</dataType>
        <expression>{!inputOpportunityRecord.Account.Name} + &quot; - Renewal - &quot; + TEXT({!RenewalStartDate})</expression>
    </formulas>
    <formulas>
        <name>RenewalQuoteName</name>
        <dataType>String</dataType>
        <expression>{!inputOpportunityRecord.Account.Name} + &apos; - Renewal - &apos; + TEXT({!RenewalStartDate}) + &apos; - Quote&apos;</expression>
    </formulas>
    <formulas>
        <name>RenewalStartDate</name>
        <dataType>Date</dataType>
        <expression>{!inputOpportunityRecord.Contract_End_Date__c}+1</expression>
    </formulas>
    <formulas>
        <name>RenewalStartDate_Bulk</name>
        <dataType>Date</dataType>
        <expression>{!Get_Contract.End_Date__c}+1</expression>
    </formulas>
    <interviewLabel>[Contract] Generate Renewal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Contract] Generate Renewal</label>
    <loops>
        <name>AssetLinesLoop</name>
        <label>AssetLinesLoop</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <collectionReference>Asset_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Pricebook_Entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Lines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>OppLineItemLoop</name>
        <label>OppLineItemLoop</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <collectionReference>Get_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Vars_Opp_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Renewal_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote_Lines</name>
        <label>Create Quote Lines</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputReference>QuoteLineList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal</name>
        <label>Create Renewal</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Synced_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>ACV_Growth__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <elementReference>inputOpportunityRecord.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>inputOpportunityRecord.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>inputOpportunityRecord.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Auto_Renew__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Name__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Bill_To_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Contact__c</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.Contact_Billing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Get_Contract.End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Billing_Email__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Contact_Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>RenewalStartDate_Bulk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Period__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Invoice_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Language__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Legal_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RenewalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Renewal_Notice_Days__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Non_Renewal_Notice_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_ACV__c</field>
            <value>
                <elementReference>inputOpportunityRecord.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Opportunity__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Renewal_Date__c</field>
            <value>
                <elementReference>RenewalCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>inputOpportunityRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Period__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Payment_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>inputOpportunityRecord.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RenewalRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Provisions__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Special_Provisions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCV__c</field>
            <value>
                <elementReference>inputOpportunityRecord.TCV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Months__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_1_ARR__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Year_1_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_1_Bookings__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Year_1_Bookings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_2_ARR__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Year_2_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_2_Bookings__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Year_2_Bookings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_3_ARR__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Year_3_ARR__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year_3_Bookings__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Year_3_Bookings__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Line_Items</name>
        <label>Create Renewal Line Items</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Create_Renewal_Quote</targetReference>
        </connector>
        <inputReference>OppLineItemList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Quote</name>
        <label>Create Renewal Quote</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Asset_Lines</targetReference>
        </connector>
        <inputAssignments>
            <field>ACV_Growth__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.Auto_Renew__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingName</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.BillingName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Email__c</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>RenewalEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>RenewalStartDate_Bulk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Period__c</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.Invoice_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Language__c</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.Legal_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RenewalQuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Renewal_Notice_Days__c</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.Non_Renewal_Notice_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_ACV__c</field>
            <value>
                <elementReference>inputOpportunityRecord.ACV__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>inputOpportunityRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Period__c</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.Payment_Period__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuote.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Provisions__c</field>
            <value>
                <elementReference>inputOpportunityRecord.Special_Provisions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Months__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Asset_Lines</name>
        <label>Asset Lines</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssetLinesLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Renewal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lines</name>
        <label>Get Lines</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OppLineItemLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Synced_Quote</name>
        <label>Get Synced Quote</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Synced_Quote_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Pricebook_Entry</name>
        <label>Pricebook Entry</label>
        <locationX>270</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Vars_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOpportunityRecord.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetLinesLoop.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Quote</name>
        <label>Quote</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Renewal_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOpportunityRecord.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>182</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Update_Renewal_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Opportunity__c</field>
            <value>
                <elementReference>Create_Renewal</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Opportunity</name>
        <label>Update Renewal Opportunity</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>Update_Renewal_Quote_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Renewal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>Create_Renewal_Quote</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Quote_Status</name>
        <label>Update Renewal Quote Status</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Renewal_Quote</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Synced</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>inputOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>IsFirstRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LatestEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LatestProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LatestProductCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppLineItemTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineTemp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <description>opportunity renewal record type id</description>
        <name>RenewalRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>012fi000000880RAAQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>varStageDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
