force-app/main/default/flows/Contact_Updates_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Country_Code_to_Phone</name>
        <label>Add Country Code to Phone</label>
        <locationX>1810</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phoneWithCountryCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Did_Stage_Change</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Timestamp</name>
        <label>Set Customer Timestamp</label>
        <locationX>1106</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Prospecting_Finished</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Disqualified_Timestamp</name>
        <label>Set Disqualified Timestamp</label>
        <locationX>1370</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Disqualified_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Prospecting_Finished</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Timestamp</name>
        <label>Set Lead Timestamp</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lead_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Prospecting_Finished</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lost_Timestamp</name>
        <label>Set Lost Timestamp</label>
        <locationX>1898</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lost_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Prospecting_Finished</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MQL_Timestamp</name>
        <label>Set MQL Timestamp</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.MQL_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Prospecting_Finished</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Nurtured_Timestamp</name>
        <label>Set Nurtured Timestamp</label>
        <locationX>1634</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Nurture_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Prospecting_Finished</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Timestamp</name>
        <label>Set Opportunity Timestamp</label>
        <locationX>842</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opportunity_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Prospecting_Finished</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Prospecting_Result_Fields</name>
        <label>Set Prospecting Result Fields</label>
        <locationX>1590</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.Prospecting_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lifecycle_Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Prospecting_Result_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_SQL_Timestamp</name>
        <label>Set SQL Timestamp</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.SQL_Timestamp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Prospecting_Finished</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Date_to_Update</name>
        <label>Date to Update</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Is_Prospecting_Finished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lead_Timestamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Timestamp__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Timestamp</targetReference>
            </connector>
            <label>Lead Timestamp</label>
        </rules>
        <rules>
            <name>MQL_Timestamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MQL_Timestamp__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MQL_Timestamp</targetReference>
            </connector>
            <label>MQL Timestamp</label>
        </rules>
        <rules>
            <name>SQL_Timestamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SQL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SQL_Timestamp__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SQL_Timestamp</targetReference>
            </connector>
            <label>SQL Timestamp</label>
        </rules>
        <rules>
            <name>Opportunity_Timestamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity_Timestamp__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opportunity_Timestamp</targetReference>
            </connector>
            <label>Opportunity Timestamp</label>
        </rules>
        <rules>
            <name>Customer_Timestamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Timestamp__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Timestamp</targetReference>
            </connector>
            <label>Customer Timestamp</label>
        </rules>
        <rules>
            <name>Disqualified_Timestamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disqualified_Timestamp__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Disqualified_Timestamp</targetReference>
            </connector>
            <label>Disqualified Timestamp</label>
        </rules>
        <rules>
            <name>Nurture_Timestamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nurture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Nurture_Timestamp__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Nurtured_Timestamp</targetReference>
            </connector>
            <label>Nurture Timestamp</label>
        </rules>
        <rules>
            <name>Lost_Timestamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Timestamp__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lost_Timestamp</targetReference>
            </connector>
            <label>Lost Timestamp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Stage_Change</name>
        <label>Did Stage Change?</label>
        <locationX>1722</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Is_Prospecting_Finished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Stage Did Not Change</defaultConnectorLabel>
        <rules>
            <name>Stage_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_to_Update</targetReference>
            </connector>
            <label>Stage Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Phone_Number_Need_Formatted</name>
        <label>Does Phone Number Need Formatted?</label>
        <locationX>1722</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Add_Country_Code_to_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Phone Needs Formatted</defaultConnectorLabel>
        <rules>
            <name>Phone_Is_Ok</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>+1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Did_Stage_Change</targetReference>
            </connector>
            <label>Phone is Ok</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Prospecting_Finished</name>
        <label>Is Prospecting Finished?</label>
        <locationX>1722</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Prospecting is not Finished</defaultConnectorLabel>
        <rules>
            <name>Prospecting_is_Finished</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nurture</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lifecycle_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Disqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Prospecting_Result_Fields</targetReference>
            </connector>
            <label>Prospecting is Finished</label>
        </rules>
    </decisions>
    <description>Removed hubspot</description>
    <environments>Default</environments>
    <formulas>
        <name>caseSafeOwner</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$Record.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>phoneWithCountryCode</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!$Record.Phone},&quot;1&quot;),&quot;+&quot;&amp;{!$Record.Phone},&quot;+1&quot;&amp;{!$Record.Phone})</expression>
    </formulas>
    <interviewLabel>Contact Updates Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1596</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Phone_Number_Need_Formatted</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>HubspotOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContactOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
