force-app/main/default/flows/Contract_Early_Termination.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Posts to the Finance Chatter Group</description>
        <name>Notify_Finance_Group</name>
        <label>Notify Finance Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>tempChatterGroupMsg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Record_Type</name>
        <label>Assign Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Opportunity__r.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Record_Type_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Opportunity__r.Record_Type_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Early_Termination_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Acquisition</name>
        <choiceText>Acquisition</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Acquisition</stringValue>
        </value>
    </choices>
    <choices>
        <name>EMR</name>
        <choiceText>EMR Integration Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>EMR Integration Issues</stringValue>
        </value>
    </choices>
    <choices>
        <name>FailureToImplement</name>
        <choiceText>Failure To Implement or Go Live</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FailureToImplement</stringValue>
        </value>
    </choices>
    <choices>
        <name>IntegrationFeatures</name>
        <choiceText>Integration Features</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Integration Features</stringValue>
        </value>
    </choices>
    <choices>
        <name>LackofAdoption</name>
        <choiceText>Lack of Adoption</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LackofAdoption</stringValue>
        </value>
    </choices>
    <choices>
        <name>LossofChampion</name>
        <choiceText>Loss of Champion or Turnover</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LossofChampion</stringValue>
        </value>
    </choices>
    <choices>
        <name>MissingCrucialFeatures</name>
        <choiceText>Missing Crucial Features</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MissingCrucialFeatures</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoDecisionNonResponsive</name>
        <choiceText>No Decision / Non-Responsive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoDecisionNonResponsive</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotUserFriendlyTooDifficult</name>
        <choiceText>Not User Friendly / Too Difficult</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NotUserFriendlyTooDifficult</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotWorthIt</name>
        <choiceText>Not Worth It</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NotWorthIt</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>OutofBusiness</name>
        <choiceText>Out of Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OutofBusiness</stringValue>
        </value>
    </choices>
    <choices>
        <name>ProductBugs</name>
        <choiceText>Product Bugs or Issues</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ProductBugs</stringValue>
        </value>
    </choices>
    <choices>
        <name>StoppedPayingNoContract</name>
        <choiceText>Stopped Paying - No Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>StoppedPayingNoContract</stringValue>
        </value>
    </choices>
    <choices>
        <name>TooExpensive</name>
        <choiceText>Too Expensive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TooExpensive</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnhappyWithSupport</name>
        <choiceText>Unhappy with Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UnhappyWithSupport</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unknown</name>
        <choiceText>Unknown</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Checks if the end user confirms the actions to be performed.</description>
        <name>Check_Confirmation</name>
        <label>Check Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Contract</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Termination_Confirmation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Record_Type_Check</name>
        <label>Opp Record Type Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Churn_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Opportunity__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Lost_Renewal_Opp</targetReference>
            </connector>
            <label>Renewal Opp</label>
        </rules>
    </decisions>
    <description>update close date
11/11/25 - Update Loss Reason Picklist to be dependent on Opportunity Record Type.</description>
    <dynamicChoiceSets>
        <name>competitors</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Competitor_Lost_to__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>[Contract] Early Termination {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Contract] Early Termination</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Gets the Id of the Finance Chatter Group.</description>
        <name>Get_Finance_Chatter_Group</name>
        <label>Get Finance Chatter Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_Finance_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CollaborationGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Account&apos;s status to churn.</description>
        <name>Churn_Account</name>
        <label>Churn Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Finance_Chatter_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Status__c</field>
            <value>
                <stringValue>Churned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lifecycle_Stage__c</field>
            <value>
                <stringValue>Churned</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Close Lost the Renewal related to the Contract.</description>
        <name>Closed_Lost_Renewal_Opp</name>
        <label>Closed Lost Renewal Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Churn_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ACV__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Term_Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Lost_Reason__c</field>
            <value>
                <elementReference>Termination_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_Lost_to__c</field>
            <value>
                <elementReference>Competitor_Lost_to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Details__c</field>
            <value>
                <elementReference>Termination_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Reason__c</field>
            <value>
                <elementReference>LossReason_Renewal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MRR__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Details__c</field>
            <value>
                <stringValue>Early Termination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TCV__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opp_Record_Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Early_Termination_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Effective_Date__c</field>
            <value>
                <elementReference>Term_Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termination_Reason__c</field>
            <value>
                <elementReference>Termination_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Early_Termination_Details</name>
        <label>Early Termination Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Confirmation</targetReference>
        </connector>
        <fields>
            <name>TermDetails</name>
            <fieldText>&lt;p&gt;Provide the details below&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;to perform an &lt;strong&gt;early termination&lt;/strong&gt; of &lt;strong&gt;Contract {!recordId.ContractNumber}&lt;/strong&gt; for the Account &lt;strong&gt;{!recordId.Account.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Term_Effective_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>recordId.Term_Effective_Date__c</elementReference>
            </defaultValue>
            <fieldText>Term Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Termination_Reason</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Termination_Reason__c</elementReference>
            </defaultValue>
            <fieldText>Termination Reason</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Termination_Confirmation</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Performing an early termination of this Contract will Closed Lost the associated Renewal, expire the Contract, and Churn the Account. This cannot be undone. Are you sure?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Term_Effective_Date</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Termination_Reason</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Update_Loss_Reason_on_Opportunity</name>
            <fieldText>Update Loss Reason on Opportunity</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Update_Loss_Reason_on_Opportunity_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LossReason_Renewal</name>
                    <choiceReferences>Acquisition</choiceReferences>
                    <choiceReferences>EMR</choiceReferences>
                    <choiceReferences>FailureToImplement</choiceReferences>
                    <choiceReferences>IntegrationFeatures</choiceReferences>
                    <choiceReferences>LackofAdoption</choiceReferences>
                    <choiceReferences>LossofChampion</choiceReferences>
                    <choiceReferences>MissingCrucialFeatures</choiceReferences>
                    <choiceReferences>NotUserFriendlyTooDifficult</choiceReferences>
                    <choiceReferences>NotWorthIt</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <choiceReferences>OutofBusiness</choiceReferences>
                    <choiceReferences>ProductBugs</choiceReferences>
                    <choiceReferences>StoppedPayingNoContract</choiceReferences>
                    <choiceReferences>TooExpensive</choiceReferences>
                    <choiceReferences>UnhappyWithSupport</choiceReferences>
                    <choiceReferences>Unknown</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Loss Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recOpportunity.Record_Type_Name__c</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Renewal</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>LossReason_NewBusiness</name>
                    <choiceReferences>EMR</choiceReferences>
                    <choiceReferences>IntegrationFeatures</choiceReferences>
                    <choiceReferences>MissingCrucialFeatures</choiceReferences>
                    <choiceReferences>NoDecisionNonResponsive</choiceReferences>
                    <choiceReferences>NotUserFriendlyTooDifficult</choiceReferences>
                    <choiceReferences>NotWorthIt</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <choiceReferences>ProductBugs</choiceReferences>
                    <choiceReferences>TooExpensive</choiceReferences>
                    <choiceReferences>Unknown</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Loss Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recOpportunity.Record_Type_Name__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Renewal</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Lost_to_Competitor</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Lost to Competitor?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Competitor_Lost_to</name>
                    <choiceReferences>competitors</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>A Competitor selection is required</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Lost_to_Competitor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tempChatterGroupMsg</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hey @[{!Get_Finance_Chatter_Group.Id}], this Contract for the Account {!recordId.Account.Name} has been terminated.
Early Termination Date: {!Term_Effective_Date}
Termination Reason: {!Termination_Reason}</text>
    </textTemplates>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
