force-app/main/default/flows/Log_Communication.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>CallChoice</name>
        <choiceText>Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Custom</name>
        <choiceText>Custom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom</stringValue>
        </value>
    </choices>
    <choices>
        <name>DemoCompletedChoice</name>
        <choiceText>Demo Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demo Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>DemoNoShowedChoice</name>
        <choiceText>Demo No Showed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demo No Showed</stringValue>
        </value>
    </choices>
    <choices>
        <name>DemoRescheduled</name>
        <choiceText>Demo Rescheduled&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demo Rescheduled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Event</name>
        <choiceText>Event</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Event</stringValue>
        </value>
    </choices>
    <choices>
        <name>LiFUVidChoice</name>
        <choiceText>LI FU Vid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LI FU Vid</stringValue>
        </value>
    </choices>
    <choices>
        <name>LinkedInVidChoice</name>
        <choiceText>LinkedIn Vid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LinkedIn Vid</stringValue>
        </value>
    </choices>
    <choices>
        <name>LiveMessageChoice</name>
        <choiceText>Left Live Message</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Left Live Message</stringValue>
        </value>
    </choices>
    <choices>
        <name>PrimaryEmailChoice</name>
        <choiceText>Primary Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Primary Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Task</name>
        <choiceText>Task</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Task</stringValue>
        </value>
    </choices>
    <choices>
        <name>TextChoice</name>
        <choiceText>Text</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Text</stringValue>
        </value>
    </choices>
    <choices>
        <name>VMChoice</name>
        <choiceText>VM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VM</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Running_Record</name>
        <label>Running Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UserMessageforObject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_or_Event</name>
        <label>Task or Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Event</defaultConnectorLabel>
        <rules>
            <name>Task_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Task</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TaskType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TaskSubtype</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ContactRecord</name>
        <dataType>String</dataType>
        <expression>IF(
{!Opportunity}, {!Get_Opportunity.Primary_Contact__c},{!Get_Contact.Id})</expression>
    </formulas>
    <formulas>
        <name>EventSubjectSelection</name>
        <dataType>String</dataType>
        <expression>IF(
 {!Event} = &quot;Event&quot;,
  IF(
    AND(
      NOT(ISBLANK({!Event_Subject_Picklist})),
      {!Event_Subject_Picklist} &lt;&gt; &quot;Custom&quot;
    ),
  {!Event_Subject_Picklist},
 {!Event_Subject}
  ),
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>RelatedToId</name>
        <dataType>String</dataType>
        <expression>IF({!Opportunity}, {!Get_Opportunity.Id},{!Get_Contact.AccountId})</expression>
    </formulas>
    <formulas>
        <name>TaskSubjectSelection</name>
        <dataType>String</dataType>
        <expression>IF(
  {!Task} = &quot;Task&quot;,
  IF(
    AND(
      NOT(ISBLANK({!Task_Subject_Picklist})),
      {!Task_Subject_Picklist} &lt;&gt; &quot;Custom&quot;
    ),
    {!Task_Subject_Picklist},
    {!Subject}
  ),
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>x4hours</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (4/24)</expression>
    </formulas>
    <interviewLabel>Log Communication {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Communication</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Event_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAllDayEvent</field>
            <value>
                <elementReference>All_Day_Event</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EventSubjectSelection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>RelatedToId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubjectSelection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>RelatedToId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Communication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Log_Communication</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Log_Communication</name>
        <label>Log Communication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Task_or_Event</targetReference>
        </connector>
        <fields>
            <name>LogContact</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;If logged on Contact:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;code&gt; This communication log is related to the Account record.&lt;/code&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LogOpp</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;If logged on Opportunity:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;code&gt;This communication log is related to the Opportunity record with the primary contact {!Get_Contact.Name}.&lt;/code&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Opportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Activity_Type</name>
            <fieldText>Activity Type</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Activity_Type_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LogType</name>
                    <choiceReferences>Task</choiceReferences>
                    <choiceReferences>Event</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Task</defaultSelectedChoiceReference>
                    <fieldText>Log Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Task_Log</name>
            <fieldText>Task Log</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Task_Log_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Task_Subject_Picklist</name>
                    <choiceReferences>PrimaryEmailChoice</choiceReferences>
                    <choiceReferences>LiveMessageChoice</choiceReferences>
                    <choiceReferences>CallChoice</choiceReferences>
                    <choiceReferences>LinkedInVidChoice</choiceReferences>
                    <choiceReferences>LiFUVidChoice</choiceReferences>
                    <choiceReferences>TextChoice</choiceReferences>
                    <choiceReferences>VMChoice</choiceReferences>
                    <choiceReferences>Custom</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Task Subject</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Custom</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Task</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Priority_Picklist</name>
                    <choiceReferences>Priority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Normal</stringValue>
                    </defaultValue>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Date_Time</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Today</elementReference>
                    </defaultValue>
                    <fieldText>Date/Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Task_Log_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type</name>
                    <choiceReferences>TaskType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Task</stringValue>
                    </defaultValue>
                    <fieldText>Communication Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Task</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Event_Log</name>
            <fieldText>Event Log</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Log_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Event_Subject_Picklist</name>
                    <choiceReferences>DemoCompletedChoice</choiceReferences>
                    <choiceReferences>DemoNoShowedChoice</choiceReferences>
                    <choiceReferences>DemoRescheduled</choiceReferences>
                    <choiceReferences>Custom</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Event Subject</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Event_Subject</name>
                    <dataType>String</dataType>
                    <fieldText>Event Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Custom</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Event</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>All_Day_Event</name>
                    <dataType>Boolean</dataType>
                    <fieldText>All Day Event</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Start</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>End</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>x4hours</elementReference>
                    </defaultValue>
                    <fieldText>End</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Log_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location</name>
                    <dataType>String</dataType>
                    <fieldText>Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Event_Description</name>
                    <fieldText>Event Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Event</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UserMessageforObject</name>
        <label>User Message for Object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UserMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Heads up! Communication logs are currently being recorded on either the Contact or Opportunity object.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt; If you’d like to adjust this setup, please reach out to your Salesforce Administrator for assistance.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Running_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubjectPicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
