force-app/main/default/flows/Opportunity_Updates_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Update_ACV_Growth</name>
        <label>Copy 1 of Update ACV Growth</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ACV_Growth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>acvGrowth</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Contract</name>
        <label>Set Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContractId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ACV_Growth_Recalculated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Bus_Team_Members</name>
        <label>Set New Bus Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Executive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Account_Executive__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Ren_Exp_Team_Members</name>
        <label>Set Ren/Exp Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Executive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Account_Executive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Success_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Customer_Success_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ACV_Growth</name>
        <label>Update ACV Growth</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ACV_Growth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>acvGrowth</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ACV_Growth_Recalculated</name>
        <label>Does ACV Growth Need Calculated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_ACV_Growth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ACV Growth Does Not Need Calculated</defaultConnectorLabel>
        <rules>
            <name>ACV_Growth_Needs_Calculated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Original_ACV__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACV__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACV_Growth</targetReference>
            </connector>
            <label>ACV Growth Needs Calculated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Need_to_Set_Opp_Teams</name>
        <label>Do We Need to Set Opp Teams?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Teams_New_Bus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Bus_Team_Members</targetReference>
            </connector>
            <label>Set Teams New Bus</label>
        </rules>
        <rules>
            <name>Set_Teams_Ren_Exp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Ren_Exp_Team_Members</targetReference>
            </connector>
            <label>Set Teams Ren/Exp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Create_or_Update</name>
        <label>Is Create or Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Update</defaultConnectorLabel>
        <rules>
            <name>Is_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Do_We_Need_to_Set_Opp_Teams</targetReference>
            </connector>
            <label>Is Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type</name>
        <label>Opportunity Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ACV_Growth_Recalculated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expansion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expansion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract</targetReference>
            </connector>
            <label>Expansion</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>acvGrowth</name>
        <dataType>Currency</dataType>
        <expression>BLANKVALUE({!$Record.ACV__c},0) - BLANKVALUE({!$Record.Original_ACV__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity Updates, Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Updates, Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Create_or_Update</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
