force-app/main/default/flows/Opportunity_Opportunity_Team_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_AE_to_Collection</name>
        <label>Add AE to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teamMembersToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>aeTeamMemberToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_SDR_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CSM_to_Collection</name>
        <label>Add CSM to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teamMembersToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>csmTeamMemberToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opp_Team_Members_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SDR_to_Collection</name>
        <label>Add SDR to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teamMembersToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sdrTeamMemberToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_CSM_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AE_Match</name>
        <label>Set AE Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>aeMatchFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Opportunity_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AE_Values</name>
        <label>Set AE Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>aeTeamMemberToCreate.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Executive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aeTeamMemberToCreate.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Executive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aeTeamMemberToCreate.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>aeTeamMemberToCreate.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_AE_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CSM_Match_Found</name>
        <label>Set CSM Match Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>csmMatchFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Opportunity_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CSM_Values</name>
        <label>Set CSM Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>csmTeamMemberToCreate.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Success_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>csmTeamMemberToCreate.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer Success Manager</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>csmTeamMemberToCreate.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>csmTeamMemberToCreate.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CSM_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SDR_Match_Found</name>
        <label>Set SDR Match Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sdrMatchFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Opportunity_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SDR_Values</name>
        <label>Set SDR Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>sdrTeamMemberToCreate.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Development_Rep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sdrTeamMemberToCreate.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Development Rep</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sdrTeamMemberToCreate.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sdrTeamMemberToCreate.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SDR_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_They_Match_Lookup</name>
        <label>Do They Match Lookup?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>For_Each_Opportunity_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match_AE_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Opportunity_Team_Member.UserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Account_Executive__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Opportunity_Team_Member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Executive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AE_Match</targetReference>
            </connector>
            <label>Match AE Lookup</label>
        </rules>
        <rules>
            <name>Match_SDR_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Opportunity_Team_Member.UserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sales_Development_Rep__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Opportunity_Team_Member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Development Rep</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SDR_Match_Found</targetReference>
            </connector>
            <label>Match SDR Lookup</label>
        </rules>
        <rules>
            <name>Match_CSM_Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Opportunity_Team_Member.UserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Customer_Success_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_Each_Opportunity_Team_Member.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Success Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CSM_Match_Found</targetReference>
            </connector>
            <label>Match CSM Lookup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_We_Need_to_Update</name>
        <label>Do We Need to Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Don&apos;t Update</defaultConnectorLabel>
        <rules>
            <name>Update_Team_Members</name>
            <conditionLogic>(1 AND (2 OR 7)) OR (3 AND (4 OR 7)) OR (5 AND (6 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Executive__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Executive__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Development_Rep__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Development_Rep__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Success_Manager__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Success_Manager__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Team_Members</targetReference>
            </connector>
            <label>Update Team Members</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_AE_Match</name>
        <label>Does AE Match?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_AE_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No AE Match</defaultConnectorLabel>
        <rules>
            <name>AE_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>aeMatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_SDR_Match</targetReference>
            </connector>
            <label>AE Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_CSM_Match</name>
        <label>Does CSM Match?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_CSM_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CSM Match</defaultConnectorLabel>
        <rules>
            <name>CSM_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>csmMatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Team_Members_to_Create</targetReference>
            </connector>
            <label>CSM Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_SDR_Match</name>
        <label>Does SDR Match?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_SDR_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SDR Match</defaultConnectorLabel>
        <rules>
            <name>SDR_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sdrMatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_CSM_Match</targetReference>
            </connector>
            <label>SDR Matches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_AE_Blank</name>
        <label>Is AE Blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_AE_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>AE_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Executive__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_SDR_Match</targetReference>
            </connector>
            <label>AE Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CSM_Blank</name>
        <label>Is CSM Blank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_CSM_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>CSM_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Success_Manager__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Team_Members_to_Create</targetReference>
            </connector>
            <label>CSM Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_SDR_Blank</name>
        <label>Is SDR Blank?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_SDR_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blank</defaultConnectorLabel>
        <rules>
            <name>SDR_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Development_Rep__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_CSM_Match</targetReference>
            </connector>
            <label>SDR Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Team_Members_to_Create</name>
        <label>Opp Team Members to Create?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Don&apos;t Create</defaultConnectorLabel>
        <rules>
            <name>Create_Team_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>teamMembersToCreate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Team_Members_dml</targetReference>
            </connector>
            <label>Create Team Members</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>[Opportunity] Opportunity Team Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Opportunity Team Handler</label>
    <loops>
        <name>For_Each_Opportunity_Team_Member</name>
        <label>For Each Opportunity Team Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Opportunity_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Do_They_Match_Lookup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_AE_Match</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Team_Members_dml</name>
        <label>Create Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>teamMembersToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Team_Members</name>
        <label>Get Opportunity Team Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Opportunity_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_We_Need_to_Update</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>aeMatchFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>aeTeamMemberToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>csmMatchFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>csmTeamMemberToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>sdrMatchFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sdrTeamMemberToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>teamMembersToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
</Flow>
