force-app/main/default/flows/QLI_Special_Terms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varSpecialTerms</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop.Product2.Special_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollSpecialTerms</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSpecialTerms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalSummaryText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SpecialTermsSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Special_Terms_on_Products_From_QLI</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Special Terms on Products From QLI</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Special_Terms_on_Products_From_QLI</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_QLIs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Special_Terms_on_Products_From_QLI.HasSpecialTerms__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Product</name>
        <label>Check Product</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assignment_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add to Summary</defaultConnectorLabel>
        <rules>
            <name>In_Summary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FinalSummaryText</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop.Product2.Special_Terms__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop</targetReference>
            </connector>
            <label>In Summary</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SpecialTermsSummary</name>
        <dataType>String</dataType>
        <expression>{!varSpecialTerms} &amp; &quot; ; &quot;</expression>
    </formulas>
    <interviewLabel>[QLI] Special Terms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[QLI] Special Terms</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Special_Terms_on_Products_From_QLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_QLIs</name>
        <label>Get QLIs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Special_Terms_on_Products_From_QLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>176</locationX>
        <locationY>842</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Special_Provisions__c</field>
            <value>
                <elementReference>FinalSummaryText</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_QLIs</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CollSpecialTerms</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Special_Terms_on_Products_From_QLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>FinalSummaryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varSpecialTerms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
