force-app/main/default/flows/Quote_Recall_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Recall_Approval_Process</name>
        <label>Recall Approval Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RecallApproval</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Decision</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>workItemId</name>
            <value>
                <elementReference>Get_Approval_Requests.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RecallApproval</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Decision</name>
        <label>Set Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recallDecision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pendingApprovalRecallDecision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Decision_Total_Recall</name>
        <label>Set Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recallDecision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>REVERT_TO_UNAPPROVED</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Quote_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Values</name>
        <label>Set Quote Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>statusText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalStatusText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>recallApprovalRequest</name>
        <choiceText>Recall Approval Request</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RECALL_APPROVAL_REQUEST</elementReference>
        </value>
    </choices>
    <choices>
        <name>revertToUnapproved</name>
        <choiceText>Revert to Unapproved and Unlock Quote for Edits</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>REVERT_TO_UNAPPROVED</elementReference>
        </value>
    </choices>
    <constants>
        <name>RECALL_APPROVAL_REQUEST</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recall Approval Request</stringValue>
        </value>
    </constants>
    <constants>
        <name>REVERT_TO_UNAPPROVED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Revert to Unapproved</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>What_Type_of_Recall</name>
        <label>What Type of Recall</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Submitted_Approval_Total_Recall</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Total Recall</defaultConnectorLabel>
        <rules>
            <name>Pending_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Approval_Submissions</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submitted_Approval_Screen</targetReference>
            </connector>
            <label>Pending Submission</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>approvalStatusText</name>
        <dataType>String</dataType>
        <expression>IF({!recallDecision}=&quot;Recall Approval Request&quot;&amp;&amp;ISPICKVAL({!recordId.Approval_Status__c},&quot;Pending Order Approval&quot;),&quot;Proposal Approved&quot;,&quot;Not Submitted&quot;)</expression>
    </formulas>
    <formulas>
        <name>pendingApprovalRecallDecision</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!recordId.Approval_Status__c},&quot;Pending Proposal Approval&quot;),{!RECALL_APPROVAL_REQUEST},{!What_to_do})</expression>
    </formulas>
    <formulas>
        <name>statusText</name>
        <dataType>String</dataType>
        <expression>IF({!recallDecision}=&quot;Recall Approval Request&quot;&amp;&amp;ISPICKVAL({!recordId.Approval_Status__c},&quot;Pending Order Approval&quot;),&quot;Proposal&quot;,&quot;Draft&quot;)</expression>
    </formulas>
    <interviewLabel>[Quote] Recall Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote] Recall Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Approval_Requests</name>
        <label>Get Approval Requests</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Type_of_Recall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Approval_Submissions.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_Submissions</name>
        <label>Get Approval Submissions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Submitted_Approval_Screen</name>
        <label>Submitted_Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recall_Approval_Process</targetReference>
        </connector>
        <fields>
            <name>Proposal_Recall</name>
            <fieldText>&lt;p&gt;Are you sure you&apos;d like to recall this approval?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending Proposal Approval</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Submitted_Help_Text</name>
            <fieldText>&lt;p&gt;It looks like there is a pending Order approval on this Quote. Would you like to simply recall the approval, or revert back to an unapproved state so you can edit the Quote again?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending Order Approval</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_to_do</name>
            <choiceReferences>recallApprovalRequest</choiceReferences>
            <choiceReferences>revertToUnapproved</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What to do</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending Order Approval</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submitted_Approval_Total_Recall</name>
        <label>Submitted Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Decision_Total_Recall</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Submitted_Help_Text</name>
            <fieldText>&lt;p&gt;Are you sure you&apos;d like to revert this Quote  to an unapproved state? You will be able to edit the Quote again, but will have to send it back through the approval process.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Unlock Quote</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Approval_Submissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>approvalRequestIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recallDecision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
