force-app/main/default/flows/Quote_Configure_Quote_Line_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Quote_Redirect1</name>
        <label>Quote Redirect</label>
        <locationX>1084</locationX>
        <locationY>3404</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:Redirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Highest_Year</name>
        <label>Assign Highest Year</label>
        <locationX>2074</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>recQLI.IsHighestTermYear__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HighestTermYearFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Price_Book_Choice</name>
        <label>Assign Price Book Choice</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varPricebookChoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Price_Book</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Count</name>
        <label>Increment Count</label>
        <locationX>2074</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collQLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recQLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_More_Years</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quote_Totals</name>
        <label>Quote Totals</label>
        <locationX>2074</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>TotalEIN</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalSeats</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Seats</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Highest_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecQLI_Assignment</name>
        <label>RecQLI Assignment</label>
        <locationX>2074</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>recQLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSalesPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.Recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2.Recurring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDiscount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Products.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.Bookings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalBookingsFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.Term_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTermYearsNumberField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.End_Date_QLI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TestEndDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.Seats_Included__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forSeatsIncluded</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.EIN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recQLI.Seats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seats</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Totals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_default_values</name>
        <label>Reset default values</label>
        <locationX>1876</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varDefaultStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Contract_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefaultMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.Term_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefaultBreakOut</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AddQuoteLineItems</name>
        <choiceText>Add Quote Line Items</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add Quote Line Items</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeleteAllChoice</name>
        <choiceText>Delete All</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete All</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeleteQLI</name>
        <choiceText>Delete Quote Line Items</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Quote Line Items</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>Leave As Is</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leave As Is</stringValue>
        </value>
    </choices>
    <choices>
        <description>Billing Schedule</description>
        <name>No_BS</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoCompleted</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>x1year</name>
        <choiceText>1</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>x2year</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>x3year</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Yes_BS</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_MainScreen</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes_MainScreen</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Sort_Family</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Family</label>
        <locationX>1084</locationX>
        <locationY>674</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Pricebook_Entries</collectionReference>
        <connector>
            <targetReference>Check_QLI</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Product_Family__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Add_More_Years</name>
        <label>Add More Years?</label>
        <locationX>2074</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Loop_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Years</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Years</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>forBreakoutYearsFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>RecQLI_Assignment</targetReference>
            </connector>
            <label>Yes, Add Years</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Choice_for_Quote_Lines</name>
        <label>Check Choice for Quote Lines</label>
        <locationX>1084</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Select_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Create Lines</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_Selected_Quote_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_or_Delete_Existing_Quote_Lines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DeleteQLI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_QLIs</targetReference>
            </connector>
            <label>Yes, Delete Selected Quote Lines</label>
        </rules>
        <rules>
            <name>As_Is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_or_Delete_Existing_Quote_Lines</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <label>As Is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Price_Book</name>
        <label>Check Price Book</label>
        <locationX>374</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Pricebook_Entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Price Book</defaultConnectorLabel>
        <rules>
            <name>Null_Price_Book</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Pricebook</targetReference>
            </connector>
            <label>Null Price Book</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Price_book_Entries</name>
        <label>Check Price book Entries</label>
        <locationX>699</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_QLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Entries Found</defaultConnectorLabel>
        <rules>
            <name>No_Entries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pricebook_Entries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Active_Entries_Screen</targetReference>
            </connector>
            <label>No Entries</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_QLI</name>
        <label>Check QLI</label>
        <locationX>1084</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Check_Choice_for_Quote_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No QLIs Found</defaultConnectorLabel>
        <rules>
            <name>QLIs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_QLIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_or_Delete</targetReference>
            </connector>
            <label>QLIs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Term_Break</name>
        <label>Check Term Break</label>
        <locationX>2074</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Break_Out_Year_1_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Breakout Term &lt;=1</defaultConnectorLabel>
        <rules>
            <name>Breakout_Term_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Breakout_Term_Years</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>x1year</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Products.Product2.Recurring__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Break_Out_Years_Confirmation</targetReference>
            </connector>
            <label>Breakout Term &gt; 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>1876</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Check_Term_Break</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Start_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Get_Quote.Contract_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Add_Product_Details</targetReference>
            </connector>
            <label>Failed</label>
        </rules>
    </decisions>
    <description>change resultingenddate</description>
    <dynamicChoiceSets>
        <name>PriceBookChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BookingsYear1Breakout</name>
        <dataType>Currency</dataType>
        <expression>IF(
    ISPICKVAL({!Loop_Products.Product2.Subscription_Frequency__c}, &quot;One-Time&quot;),
    {!BreakoutYear1Sales_Price} * {!BreakoutYear1Quantity},
    IF(
        ISPICKVAL({!Loop_Products.Product2.Subscription_Frequency__c}, &quot;Monthly&quot;),
        {!BreakoutYear1Sales_Price} * {!Product_Term_Months} * {!BreakoutYear1Quantity},
        IF(
            ISPICKVAL({!Loop_Products.Product2.Subscription_Frequency__c}, &quot;Annual&quot;),
            {!BreakoutYear1Sales_Price} * ({!Product_Term_Months} / 12) * {!BreakoutYear1Quantity},
            0
        )
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>BreakoutValue</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_Quote.Term_Months__c} &gt; 24, 3,
  IF({!Get_Quote.Term_Months__c} &gt; 12, 2,
    IF({!Get_Quote.Term_Months__c} &gt;= 0, 1, 0)
  )
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>BreakoutYear1OnlyDisplay</name>
        <dataType>String</dataType>
        <expression>TEXT (ROUND((1-  {!BreakoutYear1OnlySalesPrice} / {!BreakoutYear1OnlyListPrice}) * 100 , 3))  + &quot;%&quot;</expression>
    </formulas>
    <formulas>
        <name>BreakoutYear1OnlyListPrice</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Products.UnitPrice} * {!BreakoutYear1Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>BreakoutYear1OnlySalesPrice</name>
        <dataType>Currency</dataType>
        <expression>{!BreakoutYear1Sales_Price}*{!BreakoutYear1Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DatePickerEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  {!Enter_Desired_Date} = 
    IF(
      MONTH({!Enter_Desired_Date}) = 12,
      DATE(YEAR({!Enter_Desired_Date}), 12, 31),
      DATE(YEAR({!Enter_Desired_Date}), MONTH({!Enter_Desired_Date}) + 1, 1) - 1
    ),
  IF(
    DAY({!Product_Start_Date}) &lt; 30,
    IF(
      MONTH({!Enter_Desired_Date}) = 12,
      DATE(YEAR({!Enter_Desired_Date}) + 1, 1, 1),
      DATE(YEAR({!Enter_Desired_Date}), MONTH({!Enter_Desired_Date}) + 1, 1)
    ),
    DATE(YEAR({!Enter_Desired_Date}), MONTH({!Enter_Desired_Date}), 30)
  ),
  IF(
    DAY({!Enter_Desired_Date}) = DAY({!Product_Start_Date}) - 1,
    {!Enter_Desired_Date} + 1,
    {!Enter_Desired_Date}
  )
)</expression>
    </formulas>
    <formulas>
        <name>DefaultDatePickerTermMonths</name>
        <dataType>Number</dataType>
        <expression>ROUND(
  (
    (YEAR({!DatePickerEndDate}) - YEAR({!Product_Start_Date})) * 12 +
    (MONTH({!DatePickerEndDate}) - MONTH({!Product_Start_Date})) +
    (DAY({!DatePickerEndDate}) - DAY({!Product_Start_Date})) / 30
  ),
  2
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DefaultforCRMPlatform</name>
        <dataType>Number</dataType>
        <expression>IF({!Loop_Products.Name}=&quot;Dazos CRM Platform&quot;, 1, null)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DiscountYear1Display</name>
        <dataType>String</dataType>
        <expression>TEXT (ROUND((1-  {!year1Sales_Price} / {!Loop_Products.UnitPrice}) * 100 , 3))  + &quot;%&quot;</expression>
    </formulas>
    <formulas>
        <name>DiscountYear2Display</name>
        <dataType>String</dataType>
        <expression>TEXT (ROUND((1-  {!year2Sales_Price} /  {!Loop_Products.UnitPrice} ) * 100 , 3))  + &quot;%&quot;</expression>
    </formulas>
    <formulas>
        <name>DiscountYear3Display</name>
        <dataType>String</dataType>
        <expression>TEXT (ROUND((1-  {!year3Sales_Price} /  {!Loop_Products.UnitPrice} ) * 100 , 3))  + &quot;%&quot;</expression>
    </formulas>
    <formulas>
        <name>EINcalculation</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Products.Product2.EIN__c} * {!Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forBreakoutYearsFormula</name>
        <dataType>Number</dataType>
        <expression>IF(NOT({!Loop_Products.Product2.Recurring__c}), 1, {!Breakout_Term_Years})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forCalculatedTermMonths</name>
        <dataType>Number</dataType>
        <expression>IF({!Display_Term_Calculator} = true,{!DefaultDatePickerTermMonths},
IF({!Loop_Products.Subscription_Frequency__c} = &quot;One-Time&quot;, 0,
 {!varDefaultMonths}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forDiscount</name>
        <dataType>Number</dataType>
        <expression>IF(
    NOT({!Breakout_Term_1}), 
(1- {!BreakoutYear1OnlySalesPrice} / {!BreakoutYear1OnlyListPrice})*100, 
CASE({!varCounter}, 
    1,(1- {!year1Sales_Price} / {!Loop_Products.UnitPrice})*100, 
    2,  (1- {!year2Sales_Price}/{!Loop_Products.UnitPrice})*100,
    3,  (1- {!year3Sales_Price}/ {!Loop_Products.UnitPrice})*100,
    null
))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ForPricebookId</name>
        <dataType>String</dataType>
        <expression>IF(NOT({!Null_Price_Book}), {!Get_Quote.Pricebook2Id}, {!varPricebookChoiceId})</expression>
    </formulas>
    <formulas>
        <name>forQuantity</name>
        <dataType>Number</dataType>
        <expression>IF(NOT({!Breakout_Term_1}), {!Quantity},
CASE({!varCounter}, 
1, {!year1Quantity}, 
2, {!year2Quantity},
3, {!year3Quantity},
null))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forSalesPrice</name>
        <dataType>Currency</dataType>
        <expression>
IF(
    NOT({!Breakout_Term_1}), 
    {!BreakoutYear1Sales_Price}, 
    CASE(
        {!varCounter}, 
        1, {!year1Sales_Price}, 
        2, {!year2Sales_Price},
        3, {!year3Sales_Price},
        null
    )
)</expression>
        <scale>8</scale>
    </formulas>
    <formulas>
        <name>forSeatsIncluded</name>
        <dataType>Number</dataType>
        <expression>IF(NOT({!Breakout_Term_1}), {!Seats_Included},
CASE({!varCounter}, 
1, {!Seats_Included_Year1}, 
2, {!Seats_Included_Year2},
3, {!Seats_Included_Year3},
null))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forStartDate</name>
        <dataType>Date</dataType>
        <expression>CASE({!varCounter}, 
1, {!Product_Start_Date}, 
2, {!forYear2StartDate},
3,{!forYear3StartDate},
null)</expression>
    </formulas>
    <formulas>
        <name>forTerm</name>
        <dataType>Number</dataType>
        <expression>IF({!varCounter} = 1,
    {!TermCalculationYear1},
    IF({!varCounter} = 2,
        {!TermCalculationYear2},
        IF({!varCounter} = 3,
            {!TermCalculationYear3},
                 {!forYear1Term})))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forTermMonthsCalculatorResult</name>
        <dataType>Number</dataType>
        <expression>(( {!Enter_Desired_Date} - {!Product_Start_Date}) / 365 ) * 12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forTermYearsNumberField</name>
        <dataType>Number</dataType>
        <expression>CASE({!varCounter}, 
    1, 1, 
    2, 2,
    3, 3,
    null
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forYear1Term</name>
        <dataType>Number</dataType>
        <expression>IF(
    NOT({!Loop_Products.Product2.Recurring__c}),
0 ,    {!Product_Term_Months}
    )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forYear2EndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!forYear2StartDate},{!TermCalculationYear2}) - 1</expression>
    </formulas>
    <formulas>
        <name>forYear2StartDate</name>
        <dataType>Date</dataType>
        <expression>{!Year1EndDate} + 1</expression>
    </formulas>
    <formulas>
        <name>forYear3EndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!forYear3StartDate}, 1 + MIN({!Product_Term_Months}- 24, 12))</expression>
    </formulas>
    <formulas>
        <name>forYear3StartDate</name>
        <dataType>Date</dataType>
        <expression>{!forYear2EndDate} + 1</expression>
    </formulas>
    <formulas>
        <name>HighestTermYearFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    AND(
        {!Breakout_Term_Years} &gt;= 1,
        {!Breakout_Term_Years} &lt;= 3,
        {!Breakout_Term_Years} = MAX(
           {!recQLI.Term_Year__c}
        )
    ),
    TRUE,
    FALSE
)</expression>
    </formulas>
    <formulas>
        <name>LineDescription</name>
        <dataType>String</dataType>
        <expression>IF(
  {!Loop_Products.Product2.Name} = &quot;Dazos CRM Platform&quot;,
  {!Loop_Products.Product2.Description} &amp; &quot; Seats Included: &quot; &amp; TEXT({!forSeatsIncluded}),
  IF(
    {!Loop_Products.Product2.Name} = &quot;IQ Platform&quot;,
    {!Loop_Products.Product2.Description} &amp; &quot; Seats Included: &quot; &amp; TEXT({!forSeatsIncluded}),
    {!Loop_Products.Product2.Description}
  )
)</expression>
    </formulas>
    <formulas>
        <name>NonRecurringEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Product_Start_Date} ,0)</expression>
    </formulas>
    <formulas>
        <name>ResultingProductEndDateFormula</name>
        <dataType>Date</dataType>
        <expression>IF(
  {!Product_Term_Months} = 0,
  {!Product_Start_Date},
  IF(
    {!Product_Term_Months} - FLOOR({!Product_Term_Months}) = 0,
    ADDMONTHS({!Product_Start_Date}, FLOOR({!Product_Term_Months})) - 1,
    {!Product_Start_Date} + ({!Product_Term_Months} * 30.44)
  )
)</expression>
    </formulas>
    <formulas>
        <name>SeatsCalculation</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Products.Product2.Seats__c} * {!Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SeatsIncludedCRM</name>
        <dataType>Number</dataType>
        <expression>IF({!Loop_Products.Product2.Name}=&quot;Dazos CRM Platform&quot;, {!forQuantity}, 
IF({!Loop_Products.Product2.Name}=&quot;IQ Platform&quot;, {!forQuantity}, null))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TermCalculationYear1</name>
        <dataType>Number</dataType>
        <expression>{!Product_Term_Months}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TermCalculationYear2</name>
        <dataType>Number</dataType>
        <expression>12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TermCalculationYear3</name>
        <dataType>Number</dataType>
        <expression>12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TestEndDateFormula</name>
        <dataType>Date</dataType>
        <expression>
CASE({!varCounter}, 
1, {!Year1EndDate}, 
2, {!forYear2EndDate},
3, {!DatePickerEndDate},
null)</expression>
    </formulas>
    <formulas>
        <name>TotalBookingsFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(
    NOT({!Breakout_Term_1}), 
    {!BookingsYear1Breakout}, 
CASE({!varCounter}, 
1, {!Year1BookingsFormula}, 
2, {!Year2BookingsFormula},
3, {!year3BookingsFormula},
null))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Year1BookingsFormula</name>
        <dataType>Currency</dataType>
        <expression>
IF(
ISPICKVAL( {!Loop_Products.Product2.Subscription_Frequency__c}, &quot;One Time&quot;),
{!year1Sales_Price}* {!year1Quantity},
IF(
ISPICKVAL( {!Loop_Products.Product2.Subscription_Frequency__c}, &quot;Monthly&quot;),
{!year1Sales_Price} * {!Product_Term_Months}* {!year1Quantity},
IF(
ISPICKVAL( {!Loop_Products.Product2.Subscription_Frequency__c} , &quot;Annual&quot;),
{!year1Sales_Price} * ( {!Product_Term_Months} / 12) * {!year1Quantity},
0
)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Year1EndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS( {!Product_Start_Date},{!TermCalculationYear1} ) - 
IF({!forYear1Term} = 0, 0, 1)</expression>
    </formulas>
    <formulas>
        <name>Year1FinalSalesPrice</name>
        <dataType>Currency</dataType>
        <expression>({!year1Sales_Price}*{!year1Quantity})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Year1ListPriceDisplay</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Products.UnitPrice} * {!year1Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Year2BookingsFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(
ISPICKVAL( {!Loop_Products.Product2.Subscription_Frequency__c}, &quot;One Time&quot;),
{!year2Sales_Price}* {!year2Quantity},
IF(
ISPICKVAL( {!Loop_Products.Product2.Subscription_Frequency__c}, &quot;Monthly&quot;),
{!year2Sales_Price} * {!Product_Term_Months}* {!year2Quantity},
IF(
ISPICKVAL( {!Loop_Products.Product2.Subscription_Frequency__c} , &quot;Annual&quot;),
{!year2Sales_Price}* ( {!Product_Term_Months} / 12) *{!year2Quantity},
0
)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Year2FinalSalesPrice</name>
        <dataType>Number</dataType>
        <expression> {!year2Sales_Price} * {!year2Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Year2ListPriceDisplay</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Products.UnitPrice} * {!year2Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>year3BookingsFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(
ISPICKVAL( {!Loop_Products.Product2.Subscription_Frequency__c}, &quot;One Time&quot;),
{!year3Sales_Price}* {!year3Quantity},
IF(
ISPICKVAL( {!Loop_Products.Product2.Subscription_Frequency__c}, &quot;Monthly&quot;),
{!year3Sales_Price} * {!Product_Term_Months}*  {!year3Quantity},
IF(
ISPICKVAL( {!Loop_Products.Product2.Subscription_Frequency__c} , &quot;Annual&quot;),
{!year3Sales_Price} * ( {!Product_Term_Months} / 12) * {!year3Quantity},
0
)
)
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Year3FinalSalesPrice</name>
        <dataType>Currency</dataType>
        <expression> {!year3Sales_Price} * {!year3Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Year3ListPriceDisplay</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Products.UnitPrice} * {!year3Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Quote] Configure Quote Line Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote] Configure Quote Line Items</label>
    <loops>
        <name>Loop_Products</name>
        <label>Loop Products</label>
        <locationX>1590</locationX>
        <locationY>1298</locationY>
        <collectionReference>ProductTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_default_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ProductConfirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_QLIs</name>
        <label>Create QLIs</label>
        <locationX>1590</locationX>
        <locationY>2996</locationY>
        <connector>
            <targetReference>Update_Seats_EIN_on_Quote</targetReference>
        </connector>
        <inputReference>collQLI</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_QLIs</name>
        <label>Delete QLIs</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Quote_Line_Item_Autolaunched</targetReference>
        </connector>
        <inputReference>ExistingQuotelineItemsTable.selectedRows</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_QLIs</name>
        <label>Get Existing QLIs</label>
        <locationX>1084</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Family</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <sortField>Product2Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Entries</name>
        <label>Get Pricebook Entries</label>
        <locationX>699</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Price_book_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ForPricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>01tVq00000UrKcWIAV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>374</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Price_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Price_Book</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Seats_EIN_on_Quote</name>
        <label>Update Seats &amp; EIN on Quote</label>
        <locationX>1590</locationX>
        <locationY>3104</locationY>
        <connector>
            <targetReference>Quote_Line_Item_Autolaunched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_EINs__c</field>
            <value>
                <elementReference>TotalEIN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Seats__c</field>
            <value>
                <elementReference>TotalSeats</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Add_or_Delete</name>
        <label>Add or Delete</label>
        <locationX>952</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Choice_for_Quote_Lines</targetReference>
        </connector>
        <fields>
            <name>Add_or_Delete_Existing_Quote_Lines</name>
            <choiceReferences>AddQuoteLineItems</choiceReferences>
            <choiceReferences>DeleteQLI</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add Quote Line Items or Delete Existing Quote Lines?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ExistingQuotelineItemsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>QuoteLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Existing_QLIs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-46c0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-97f4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-4b30&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Sales Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Start_Date__c&quot;,&quot;guid&quot;:&quot;column-36f9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;End_Date__c&quot;,&quot;guid&quot;:&quot;column-86a2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;End Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Term_Months__c&quot;,&quot;guid&quot;:&quot;column-9eea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Term (Months)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>QLIs_Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DeleteQLI</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Product_Details</name>
        <label>Add Product Details</label>
        <locationX>1876</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <fields>
            <name>Add_Product_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Product_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductDetailsText</name>
                    <fieldText>&lt;p&gt;Please select the following details for this product&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Product Name: &lt;strong&gt;{!Loop_Products.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;List Price:  $&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Products.UnitPrice}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Price Basis: &lt;strong&gt;{!Loop_Products.Subscription_Frequency__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Product_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Product_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Product_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>DefaultforCRMPlatform</elementReference>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Product_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varDefaultStartDate</elementReference>
                    </defaultValue>
                    <fieldText>Product Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Seats</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>SeatsCalculation</elementReference>
                    </defaultValue>
                    <fieldText>Seats</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Loop_Products.Product2.Seats__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Quantity</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EIN</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>EINcalculation</elementReference>
                    </defaultValue>
                    <fieldText>EIN</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Loop_Products.Product2.EIN__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Quantity</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>msgValidationRule</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Product Start Date cannot be before Quote Start Date of &lt;/span&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Quote.Contract_Start_Date__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Product_Start_Date</leftValueReference>
                            <operator>LessThan</operator>
                            <rightValue>
                                <elementReference>Get_Quote.Contract_Start_Date__c</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>MainScreenEndDateDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Quote End Date: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Quote.Contract_End_Date__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Resulting Product End Date:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!ResultingProductEndDateFormula}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Product_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Term_Months</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>forCalculatedTermMonths</elementReference>
                    </defaultValue>
                    <fieldText>Term Months In Line Item 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please select a date that is not more than 3 years (36 months) after the product start date.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Product_Term_Months} &lt;=36</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Enter_Desired_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Enter Desired Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Display_Term_Calculator</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Display_Term_Calculator</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Display Term Calculator</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Breakout_Term_Years</name>
                    <choiceReferences>x1year</choiceReferences>
                    <choiceReferences>x2year</choiceReferences>
                    <choiceReferences>x3year</choiceReferences>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>1.0</numberValue>
                    </defaultValue>
                    <fieldText>Product Length (Years)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Break_Out_Year_1_Confirmation</name>
        <label>Break Out Year 1 Confirmation</label>
        <locationX>2206</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecQLI_Assignment</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Product_Name</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Loop_Products.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;List Price: {!Loop_Products.UnitPrice}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Price Basis: {!Loop_Products.Subscription_Frequency__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_Year_1Header</name>
            <fieldText>Year 1</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Year_1Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BreakoutYear1Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varDefaultYear1Quantity</elementReference>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>BreakoutYear1Sales_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_Products.UnitPrice</elementReference>
                    </defaultValue>
                    <fieldText>Sales Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>8</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Seats_Included</name>
                    <dataType>Number</dataType>
                    <fieldText>Seats Included</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Loop_Products.Product2.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Dazos CRM Platform</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Loop_Products.Product2.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>IQ Platform</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Year_1Header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Year1TermDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Start Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Product_Start_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;End Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Year1EndDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Term &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!forYear1Term}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Loop_Products.Product2.Recurring__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>NonRecurringDisplayYear1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Start Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Product_Start_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;End Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!NonRecurringEndDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Loop_Products.Product2.Recurring__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Year_1Header_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Year1SalesDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Total List Price&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!BreakoutYear1OnlyListPrice}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Final Sales Price&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!BreakoutYear1OnlySalesPrice}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Discount&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!BreakoutYear1OnlyDisplay}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Break_Out_Years_Confirmation</name>
        <label>Break Out Years Confirmation</label>
        <locationX>1942</locationX>
        <locationY>1838</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RecQLI_Assignment</targetReference>
        </connector>
        <fields>
            <name>Product_Name</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Loop_Products.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Price Basis: {!Loop_Products.Subscription_Frequency__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Year_1Header</name>
            <fieldText>Year 1</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Year_1Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>year1Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varDefaultYear1Quantity</elementReference>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>year1Sales_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_Products.UnitPrice</elementReference>
                    </defaultValue>
                    <fieldText>Sales Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>8</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Seats_Included_Year1</name>
                    <dataType>Number</dataType>
                    <fieldText>Seats Included</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Year_1Header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Year1TermDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Start Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Product_Start_Date}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;End Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Year1EndDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Term &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!TermCalculationYear1}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Year_1Header_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Year1SalesDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Total List Price&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Year1ListPriceDisplay}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Final Sales Price&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Year1FinalSalesPrice}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Discount&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!DiscountYear1Display}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Year_2Header</name>
            <fieldText>Year 2</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Year_2Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>year2Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varDefaultYear2Quantity</elementReference>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>year2Sales_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_Products.UnitPrice</elementReference>
                    </defaultValue>
                    <fieldText>Sales Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>8</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Seats_Included_Year2</name>
                    <dataType>Number</dataType>
                    <fieldText>Seats Included</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Year_2Header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Year2TermDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Start Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!forYear2StartDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;End Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!forYear2EndDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Term &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!TermCalculationYear2}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Year_2Header_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Year2SalesDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Total &lt;/strong&gt;&lt;strong&gt;List Price&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Year2ListPriceDisplay}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Final Sales Price&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Year2FinalSalesPrice}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Discount&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!DiscountYear2Display}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Breakout_Term_Years</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Year3_Header</name>
            <fieldText>Year 3</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Year3_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>year3Quantity</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varDefaultYear3Quantity</elementReference>
                    </defaultValue>
                    <fieldText>Quantity</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>year3Sales_Price</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Loop_Products.UnitPrice</elementReference>
                    </defaultValue>
                    <fieldText>Sales Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>8</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Seats_Included_Year3</name>
                    <dataType>Number</dataType>
                    <fieldText>Seats Included</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Year3_Header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Year3Term</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Start Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!forYear3StartDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;End Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!forYear3EndDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Term &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!TermCalculationYear3}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Year3_Header_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Year3SalesDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Total &lt;/strong&gt;&lt;strong&gt;List Price&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Year3ListPriceDisplay}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Final Sales Price&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Year3FinalSalesPrice}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Discount&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!DiscountYear3Display}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Breakout_Term_Years</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Pricebook</name>
        <label>Choose Pricebook</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Price_Book_Choice</targetReference>
        </connector>
        <fields>
            <name>ChoosePriceBookHelpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Choose a Price Book for this Quote from the picklist below.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Price_Book</name>
            <choiceReferences>PriceBookChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Quote.Pricebook2Id</elementReference>
            </defaultValue>
            <fieldText>Price Book</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Active_Entries_Screen</name>
        <label>No Active Entries Screen</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoActiveEntriesHeader</name>
            <fieldText>&lt;h2&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Price Book assigned to this Quote, &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Quote.Pricebook2.Name}&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, has no active entries. Please add some active Price Book Entries for the Price book.&lt;/span&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProductConfirmation</name>
        <label>ProductConfirmation</label>
        <locationX>1590</locationX>
        <locationY>2888</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_QLIs</targetReference>
        </connector>
        <fields>
            <name>ProductScreenTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>QuoteLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>collQLI</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-0f54&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-4601&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-756a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Sales Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Bookings__c&quot;,&quot;guid&quot;:&quot;column-3a4c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Bookings&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Term_Months__c&quot;,&quot;guid&quot;:&quot;column-40ff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Term (Months)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Products</name>
        <label>Select Products</label>
        <locationX>1590</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Products</targetReference>
        </connector>
        <fields>
            <name>ProductSelectHelpText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please select Products to add to this Quote.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The following pages will allow setting pricing and other details for the selected products.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ProductTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>PricebookEntry</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Pricebook_Entries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ac53&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-46cc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;List Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Subscription_Frequency__c&quot;,&quot;guid&quot;:&quot;column-f6ee&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Subscription Frequency&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Product_Family__c&quot;,&quot;guid&quot;:&quot;column-ddf7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Product Family&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>248</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Quote_Line_Item_Autolaunched</name>
        <label>Quote Line Item: Autolaunched</label>
        <locationX>1084</locationX>
        <locationY>3296</locationY>
        <connector>
            <targetReference>Quote_Redirect1</targetReference>
        </connector>
        <flowName>Quote_Line_Item_Autolaunched</flowName>
        <inputAssignments>
            <name>recordid</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>collExistingQuoteLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>collQLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filtered_PriceBook_Entries</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>FilterForOneTimeProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01tE1000004IcR8IAK</stringValue>
        </value>
    </variables>
    <variables>
        <name>ProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recQLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>TotalEIN</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Quote.Total_EINs__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>TotalSeats</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Get_Quote.Total_Seats__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDefaultBreakOut</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDefaultMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDefaultStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Quote.Contract_Start_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varDefaultYear1Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Quantity</elementReference>
        </value>
    </variables>
    <variables>
        <name>varDefaultYear2Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Quantity</elementReference>
        </value>
    </variables>
    <variables>
        <name>varDefaultYear3Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>Quantity</elementReference>
        </value>
    </variables>
    <variables>
        <name>varPricebookChoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
