force-app/main/default/flows/Quote_Line_Item_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_List_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalSalesPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Term_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Bookings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BookingsFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDiscount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>New_or_Pricing_change</name>
        <label>New or Pricing change?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UnitPrice</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.UnitPrice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Term_Year_CNDYBX__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Term_Year_CNDYBX__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Term_Months__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Term_Months__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Quantity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>change term months decimal to 2 places</description>
    <environments>Default</environments>
    <formulas>
        <name>BookingsFormula</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Quantity} * {!$Record.UnitPrice}) *
IF(
    {!$Record.Product2.Recurring__c},
     ({!forTerm} / IF(TEXT({!$Record.Product2.Subscription_Frequency__c}) = &quot;Annual&quot;, 12, 1)),
    1
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forDiscount</name>
        <dataType>Currency</dataType>
        <expression>(1- {!$Record.UnitPrice} / {!$Record.PricebookEntry.UnitPrice}) * 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forTerm</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!$Record.Term_Months__c}), {!$Record.Quote.Term_Months__c},{!$Record.Term_Months__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>iARRFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(
    TEXT({!$Record.Product2.Subscription_Frequency__c}) = &quot;Annual&quot;, 
    {!TotalSalesPrice},
    IF(
        TEXT({!$Record.Product2.Subscription_Frequency__c}) = &quot;Monthly&quot;, 
        ({!TotalSalesPrice} * ({!$Record.Term_Months__c}/12 )),

        IF(
            TEXT({!$Record.Product2.Subscription_Frequency__c}) = &quot;One-Time&quot;, 
            0,
            0
        )
    )
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalListPrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.PricebookEntry.UnitPrice} * {!$Record.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalSalesPrice</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Quantity} * {!$Record.UnitPrice}</expression>
        <scale>8</scale>
    </formulas>
    <interviewLabel>[Quote Line Item] Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote Line Item] Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_or_Pricing_change</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
