force-app/main/default/flows/Quote_Line_Item_Exit_ARR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Latest_End_Date</name>
        <label>Assign Latest End Date</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varLatestEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Year_Values</name>
        <label>Assign Year Values</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varQLI.Bookings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1.Bookings__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Recurring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1.Recurring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Total_Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1.Total_Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRangeLower</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forRangeLower</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRangeUpper</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forRangeUpper</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_a_Newer_Final_Term_Year</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QLI_s_ARR_to_your_Term_Year</name>
        <label>QLI&apos;s ARR to your Term Year</label>
        <locationX>264</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>varExitARR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_2.ARR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_varLatestEndDate</name>
        <label>set varLatestEndDate</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varLatestEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinalTermYear</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fml_TermYearNumber_Loop1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Same_Final_Term_Year_Newer_End_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_This_a_Newer_Final_Term_Year</name>
        <label>Is This a Newer Final Term Year?</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Same_Final_Term_Year_Newer_End_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Final_Term_Year_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fml_TermYearNumber_Loop1</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varFinalTermYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_varLatestEndDate</targetReference>
            </connector>
            <label>New Final Term Year Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matches_Final_Year_and_Latest_End_Date</name>
        <label>Matches Final Year and Latest End Date?</label>
        <locationX>396</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Loop_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fml_TermYearNumber_Loop2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varFinalTermYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_2.End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varLatestEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QLI_s_ARR_to_your_Term_Year</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Final_Term_Year_Newer_End_Date</name>
        <label>Same Final Term Year &amp; Newer End Date?</label>
        <locationX>396</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>LOOP_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Latest_End_Date_for_Final_TY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fml_TermYearNumber_Loop1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varFinalTermYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LOOP_1.End_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varLatestEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Latest_End_Date</targetReference>
            </connector>
            <label>Update Latest End Date for Final TY</label>
        </rules>
    </decisions>
    <description>(one field for exit ARR)</description>
    <environments>Default</environments>
    <formulas>
        <name>ARRYear1Total</name>
        <dataType>Currency</dataType>
        <expression>IF(
  AND(
    {!LOOP_1.Recurring__c},
    TRIM(LEFT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) = &quot;1&quot;,
    TRIM(RIGHT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &gt;= &quot;1&quot;
  ),
 {!LOOP_1.ARR__c},
  null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ARRYear2Total</name>
        <dataType>Currency</dataType>
        <expression>IF(
 AND(
          {!LOOP_1.Recurring__c}, TRIM(LEFT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &lt;= &quot;2&quot;, 
           TRIM(RIGHT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &gt;= &quot;2&quot;),
         {!LOOP_1.ARR__c} ,
    null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ARRYear3Total</name>
        <dataType>Currency</dataType>
        <expression>IF( 
    AND(
          {!LOOP_1.Recurring__c}, TRIM(LEFT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &lt;= &quot;3&quot;, 
           TRIM(RIGHT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &gt;= &quot;3&quot;),
           {!LOOP_1.ARR__c},
    null
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>BookingsYear1Total</name>
        <dataType>Currency</dataType>
        <expression>
IF( AND({!LOOP_1.Recurring__c}, TRIM(LEFT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) = &quot;1&quot;, TRIM(RIGHT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &gt;= &quot;1&quot;),  {!LOOP_1.Bookings__c}, null )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>BookingsYear2Total</name>
        <dataType>Currency</dataType>
        <expression>IF( AND({!LOOP_1.Recurring__c}, TRIM(LEFT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &lt;= &quot;2&quot;, TRIM(RIGHT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &gt;= &quot;2&quot;), {!LOOP_1.Bookings__c}, null )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>BookingsYear3Total</name>
        <dataType>Currency</dataType>
        <expression>IF( AND({!LOOP_1.Recurring__c}, TRIM(LEFT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &lt;= &quot;3&quot;, TRIM(RIGHT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &gt;= &quot;3&quot;), {!LOOP_1.Bookings__c},null)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ExitY1Formula</name>
        <dataType>Currency</dataType>
        <expression>IF({!varFinalTermYear} = 1, {!varExitARR}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ExitY2Formula</name>
        <dataType>Currency</dataType>
        <expression>IF({!varFinalTermYear} = 2, {!varExitARR}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ExitY3Formula</name>
        <dataType>Currency</dataType>
        <expression>IF({!varFinalTermYear} = 3, {!varExitARR}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fml_TermYearNumber_Loop1</name>
        <dataType>Number</dataType>
        <expression>VALUE({!LOOP_1.Term_Year_CNDYBX__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fml_TermYearNumber_Loop2</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Loop_2.Term_Year_CNDYBX__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forRangeLower</name>
        <dataType>Number</dataType>
        <expression>IF(
(({!Get_Quote.Contract_Start_Date__c}-{!LOOP_1.Start_Date__c}) / 365) * -1 &lt; 1 , 1,
FLOOR(((({!Get_Quote.Contract_Start_Date__c}-{!LOOP_1.Start_Date__c}) / 365) * -1) +1))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forRangeUpper</name>
        <dataType>Number</dataType>
        <expression>(({!Get_Quote.Contract_Start_Date__c}-{!LOOP_1.End_Date__c}) / 365) * -1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forYear</name>
        <dataType>String</dataType>
        <expression>IF( {!varRangeLower} != CEILING({!varRangeUpper}) &amp;&amp; NOT(ISBLANK({!varRangeUpper})) &amp;&amp; {!varRangeUpper} &gt; 1,  TEXT({!varRangeLower}) &amp; &quot; - &quot; &amp; TEXT( ROUND({!varRangeUpper},0 )), TEXT({!varRangeLower})  )</expression>
    </formulas>
    <formulas>
        <name>forYearOneEndDate</name>
        <dataType>Date</dataType>
        <expression>BLANKVALUE({!varYearOneEndDate}, {!LOOP_1.End_Date__c})</expression>
    </formulas>
    <formulas>
        <name>NonRecurringBookingsTotalYear1</name>
        <dataType>Currency</dataType>
        <expression>IF( AND(NOT({!LOOP_1.Recurring__c}), TRIM(LEFT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) = &quot;1&quot;, TRIM(RIGHT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &gt;= &quot;1&quot;),  {!LOOP_1.Bookings__c}, null )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NonRecurringBookingsTotalYear2</name>
        <dataType>Currency</dataType>
        <expression>IF( AND(NOT({!LOOP_1.Recurring__c}), TRIM(LEFT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &lt;= &quot;2&quot;, TRIM(RIGHT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &gt;= &quot;2&quot;), {!LOOP_1.Bookings__c}, null )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NonRecurringBookingsTotalYear3</name>
        <dataType>Currency</dataType>
        <expression>IF( AND(NOT({!LOOP_1.Recurring__c}), TRIM(LEFT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &lt;= &quot;3&quot;, TRIM(RIGHT({!LOOP_1.Term_Year_CNDYBX__c}, 1)) &gt;= &quot;3&quot;), {!LOOP_1.Bookings__c},null)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Quote Line Item] Exit ARR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote Line Item] Exit ARR</label>
    <loops>
        <name>LOOP_1</name>
        <label>LOOP 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Quote_line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Year_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_2</name>
        <label>Loop 2</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <collectionReference>Get_Quote_line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matches_Final_Year_and_Latest_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_line_Items</name>
        <label>Get Quote line Items</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>176</locationX>
        <locationY>1742</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Exit_ARR__c</field>
            <value>
                <elementReference>varExitARR</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colAllQLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>MaxEndDate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varExitARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varExitARR_TY1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varExitARR_TY2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varExitARR_TY3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varFinalTermYear</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varLatestEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLatestEndDateY1</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLatestEndDateY2</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLatestEndDateY3</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varRangeLower</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varRangeUpper</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varYear1ARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varYear1Bookings</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varYear2ARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varYear2Bookings</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varYear3ARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varYear3Bookings</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varYearOneEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>LOOP_1.End_Date__c</elementReference>
        </value>
    </variables>
</Flow>
