force-app/main/default/flows/Quote_Contact_Buyer_Billing_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Billing_1</name>
        <label>Billing</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Billing_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_Billing__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact_Billing_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingContactBusinessOrMobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact_Billing_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingMailingAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Contact_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Billing_2</name>
        <label>Billing</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Billing_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_Billing__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact_Billing_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingContactBusinessOrMobile</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact_Billing_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingMailingAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Contact_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Buyer_1</name>
        <label>Buyer</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Buying_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_Buying__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact_Buying_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuyerBusinessOrMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact_Buying_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuyingMailAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Buyer_2</name>
        <label>Buyer</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contact_Buying_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact_Buying__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact_Buying_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuyerBusinessOrMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contact_Buying_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuyingMailAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Contact_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_details</name>
        <label>Which details?</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Billing__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Buying__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buyer_1</targetReference>
            </connector>
            <label>Both</label>
        </rules>
        <rules>
            <name>Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Buying__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buyer_2</targetReference>
            </connector>
            <label>Buyer</label>
        </rules>
        <rules>
            <name>Billing_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Billing__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_2</targetReference>
            </connector>
            <label>Billing Contact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Default Business phone</description>
        <name>BillingContactBusinessOrMobile</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!$Record.Contact_Billing__r.Phone}),
{!$Record.Contact_Billing__r.MobilePhone},
{!$Record.Contact_Billing__r.Phone})</expression>
    </formulas>
    <formulas>
        <name>BillingMailingAddress</name>
        <dataType>String</dataType>
        <expression>TRIM(
  IF(
    NOT(ISBLANK({!$Record.Contact_Billing__r.MailingStreet})),
    {!$Record.Contact_Billing__r.MailingStreet} &amp; &quot;, &quot;,
    &quot;&quot;
  ) &amp;
  IF(
    NOT(ISBLANK({!$Record.Contact_Billing__r.MailingCity})),
    {!$Record.Contact_Billing__r.MailingCity} &amp; &quot;, &quot;,
    &quot;&quot;
  ) &amp;
  IF(
    NOT(ISBLANK({!$Record.Contact_Billing__r.MailingState})),
    {!$Record.Contact_Billing__r.MailingState} &amp; &quot; &quot;,
    &quot;&quot;
  ) &amp;
  IF(
    NOT(ISBLANK({!$Record.Contact_Billing__r.MailingPostalCode})),
    {!$Record.Contact_Billing__r.MailingPostalCode} &amp; &quot;, &quot;,
    &quot;&quot;
  ) &amp;
  IF(
    NOT(ISBLANK({!$Record.Contact_Billing__r.MailingCountry})),
    {!$Record.Contact_Billing__r.MailingCountry},
    &quot;&quot;
  )
)</expression>
    </formulas>
    <formulas>
        <description>Default business phone; use mobile as backup</description>
        <name>BuyerBusinessOrMobilePhone</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!$Record.Contact_Buying__r.Phone}),
{!$Record.Contact_Buying__r.MobilePhone},
{!$Record.Contact_Buying__r.Phone})</expression>
    </formulas>
    <formulas>
        <name>BuyingMailAddress</name>
        <dataType>String</dataType>
        <expression>TRIM(
  IF(
    NOT(ISBLANK({!$Record.Contact_Buying__r.MailingStreet})),
    {!$Record.Contact_Buying__r.MailingStreet} &amp; &quot;, &quot;,
    &quot;&quot;
  ) &amp;
  IF(
    NOT(ISBLANK({!$Record.Contact_Buying__r.MailingCity})),
    {!$Record.Contact_Buying__r.MailingCity} &amp; &quot;, &quot;,
    &quot;&quot;
  ) &amp;
  IF(
    NOT(ISBLANK({!$Record.Contact_Buying__r.MailingState})),
    {!$Record.Contact_Buying__r.MailingState} &amp; &quot; &quot;,
    &quot;&quot;
  ) &amp;
  IF(
    NOT(ISBLANK({!$Record.Contact_Buying__r.MailingPostalCode})),
    {!$Record.Contact_Buying__r.MailingPostalCode} &amp; &quot;, &quot;,
    &quot;&quot;
  ) &amp;
  IF(
    NOT(ISBLANK({!$Record.Contact_Buying__r.MailingCountry})),
    {!$Record.Contact_Buying__r.MailingCountry},
    &quot;&quot;
  )
)</expression>
    </formulas>
    <interviewLabel>[Quote] Contact Buyer &amp; Billing Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote] Contact Buyer &amp; Billing Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Quote_Contact_Details</name>
        <label>Update Quote Contact Details</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_details</targetReference>
        </connector>
        <filterLogic>(1 OR 2) OR (1 AND 2)</filterLogic>
        <filters>
            <field>Contact_Buying__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact_Billing__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
