force-app/main/default/flows/Quote_Create_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_Quote</name>
        <label>Redirect to Quote</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:Redirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Pricebook_Selection</name>
        <label>Need Pricebook Selection</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Quote_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Pricebook_Selection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricebook_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>add back the default term months (if not expansion)</description>
    <dynamicChoiceSets>
        <name>AutoRenewChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Auto_Renew__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InvoicePeriodChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Invoice_Period__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentMethodChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Method__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentPeriodChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Period__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PricebookChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Adjusted_End_Date</name>
        <dataType>Date</dataType>
        <expression>IF(
{!Get_Opportunity.Contract_End_Date__c} = 
    IF(
      MONTH({!Get_Opportunity.Contract_End_Date__c}) = 12,
      DATE(YEAR({!Get_Opportunity.Contract_End_Date__c}), 12, 31),
      DATE(YEAR({!Get_Opportunity.Contract_End_Date__c}), MONTH({!Get_Opportunity.Contract_End_Date__c}) + 1, 1) - 1
    ),
  IF(
    DAY({!Contract_Start_Date}) &lt; 30,
    IF(
      MONTH({!Get_Opportunity.Contract_End_Date__c}) = 12,
      DATE(YEAR({!Get_Opportunity.Contract_End_Date__c}) + 1, 1, 1),
      DATE(YEAR({!Get_Opportunity.Contract_End_Date__c}), MONTH({!Get_Opportunity.Contract_End_Date__c}) + 1, 1)
    ),
    DATE(YEAR({!Get_Opportunity.Contract_End_Date__c}), MONTH({!Get_Opportunity.Contract_End_Date__c}), 30)
  ),
  IF(
    DAY({!Get_Opportunity.Contract_End_Date__c}) = DAY({!Contract_Start_Date}) - 1,
    {!Get_Opportunity.Contract_End_Date__c} + 1,
    {!Get_Opportunity.Contract_End_Date__c}
  )
)</expression>
    </formulas>
    <formulas>
        <name>ContractEndDateFormula</name>
        <dataType>Date</dataType>
        <expression>
IF(
{!Term_Months} - FLOOR({!Term_Months}) = 0,
ADDMONTHS( {!Contract_Start_Date} , FLOOR({!Term_Months})) - 1,
{!Contract_Start_Date} + ({!Term_Months} * 30.44)
)</expression>
    </formulas>
    <formulas>
        <name>DatePickerEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  {!Enter_Desired_Date} = 
    IF(
      MONTH({!Enter_Desired_Date}) = 12,
      DATE(YEAR({!Enter_Desired_Date}), 12, 31),
      DATE(YEAR({!Enter_Desired_Date}), MONTH({!Enter_Desired_Date}) + 1, 1) - 1
    ),
  IF(
    DAY({!Contract_Start_Date}) &lt; 30,
    IF(
      MONTH({!Enter_Desired_Date}) = 12,
      DATE(YEAR({!Enter_Desired_Date}) + 1, 1, 1),
      DATE(YEAR({!Enter_Desired_Date}), MONTH({!Enter_Desired_Date}) + 1, 1)
    ),
    DATE(YEAR({!Enter_Desired_Date}), MONTH({!Enter_Desired_Date}), 30)
  ),
  IF(
    DAY({!Enter_Desired_Date}) = DAY({!Contract_Start_Date}) - 1,
    {!Enter_Desired_Date} + 1,
    {!Enter_Desired_Date}
  )
)</expression>
    </formulas>
    <formulas>
        <name>DefaultDatePickerMonths</name>
        <dataType>Number</dataType>
        <expression>ROUND(
  (
    (YEAR({!DatePickerEndDate}) - YEAR({!Contract_Start_Date})) * 12 +
    (MONTH({!DatePickerEndDate}) - MONTH({!Contract_Start_Date})) +
    (DAY({!DatePickerEndDate}) - DAY({!Contract_Start_Date})) / 30
  ),
  2
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DefaultStartDate</name>
        <dataType>Date</dataType>
        <expression>IF({!Get_Opportunity.RecordType.Name}=&quot;Expansion&quot;, {!Get_Opportunity.Contract_Start_Date__c}, {!Get_Opportunity.Contract_Start_Date__c})</expression>
    </formulas>
    <formulas>
        <description>Formula for expansion and other opportunities</description>
        <name>DefaultTermMonths</name>
        <dataType>Number</dataType>
        <expression>ROUND(
  (
    (YEAR({!Adjusted_End_Date}) - YEAR({!Contract_Start_Date})) * 12 +
    (MONTH({!Adjusted_End_Date}) - MONTH({!Contract_Start_Date})) +
    (DAY({!Adjusted_End_Date}) - DAY({!Contract_Start_Date})) / 30
  ),
  2
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forCalculatedTermMonths</name>
        <dataType>Number</dataType>
        <expression>IF(
  {!Display_Term_Calculator} = true,
{!DefaultDatePickerMonths},
IF({!Get_Opportunity.RecordType.Name} = &quot;Expansion&quot;,
{!DefaultTermMonths},
24
))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>QuoteEndDate</name>
        <dataType>Date</dataType>
        <expression>
IF(
  MOD({!Term_Months}, 1) = 0,
  ADDMONTHS({!Contract_Start_Date}, {!Term_Months}) - 1,
  ADDMONTHS({!Contract_Start_Date}, FLOOR({!Term_Months})) + 
    ROUND(MOD({!Term_Months}, 1) * 30.44, 0)
)</expression>
    </formulas>
    <formulas>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Name} + &quot; &quot; + &quot;- Quote&quot;</expression>
    </formulas>
    <formulas>
        <name>termMonthsReadOnly</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Opportunity.RecordType.Name}==&apos;Expansion&apos;</expression>
    </formulas>
    <formulas>
        <name>x30DaysDefaultExpiration</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} +30</expression>
    </formulas>
    <interviewLabel>[Quote] Create Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote] Create Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Redirect_to_Quote</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Auto_Renew__c</field>
            <value>
                <elementReference>Auto_Renew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_End_Date__c</field>
            <value>
                <elementReference>QuoteEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Start_Date__c</field>
            <value>
                <elementReference>Contract_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Period__c</field>
            <value>
                <elementReference>Invoice_Period</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Quote_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Period__c</field>
            <value>
                <elementReference>Payment_Period</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Pricebook.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term_Months__c</field>
            <value>
                <elementReference>Term_Months</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pricebook_Selection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Pricebook_Screen</name>
        <label>Pricebook_Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Quote_Screen</targetReference>
        </connector>
        <fields>
            <name>Pricebook</name>
            <choiceReferences>PricebookChoices</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Pricebook</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Screen</name>
        <label>Quote Screen</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <fields>
            <name>CreateQuoteHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Enter the details below to create a quote for the Opportunity&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Opportunity.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Quote_Information</name>
            <fieldText>Quote Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quote_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>QuoteName</elementReference>
                    </defaultValue>
                    <fieldText>Quote Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Contract_Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DefaultStartDate</elementReference>
                    </defaultValue>
                    <fieldText>Contract Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Display_Term_Calculator</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Display Term Calculator</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Record_Type_Name__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Expansion</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Enter_Desired_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Enter Desired Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Display_Term_Calculator</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Term_Months</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>forCalculatedTermMonths</elementReference>
                    </defaultValue>
                    <fieldText>Term Months</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <elementReference>termMonthsReadOnly</elementReference>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ExpansionHelpTextTerm</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The &apos;Term&apos; for an Expansion opportunity is not editable, as the End Date on the Expansion must align with the End Date on the existing Contract.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.RecordType.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Expansion</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EndDateDisplay</name>
                    <fieldText>&lt;p&gt;Contract End Date: {!ContractEndDateFormula}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Period</name>
                    <choiceReferences>PaymentPeriodChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Payment_Period__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Period</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Invoice_Period</name>
                    <choiceReferences>InvoicePeriodChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Invoice_Period__c</elementReference>
                    </defaultValue>
                    <fieldText>Invoice Period</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Auto_Renew</name>
                    <choiceReferences>AutoRenewChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Auto_Renew__c</elementReference>
                    </defaultValue>
                    <fieldText>Auto Renew</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Payment_Method</name>
                    <choiceReferences>PaymentMethodChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Credit Card</stringValue>
                    </defaultValue>
                    <fieldText>Payment Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Expiration_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Screen Error</label>
        <locationX>1018</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(13, 13, 13);&quot;&gt;We&apos;re sorry, but it seems like we hit a bump in the road. Notify and show your system administrator this flow error message&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
