force-app/main/default/flows/Quote_Submit_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_Quote</name>
        <label>Redirect to Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>c:Redirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:Redirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Set_Approval_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>approvalProcessName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Approval_Status</name>
        <label>Set Approval Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordId.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>approvalStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Bypass_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bypass</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>orderReview</name>
        <choiceText>Submit for Order Review</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>ORDER_APPROVAL_PROCESS_NAME</elementReference>
        </value>
    </choices>
    <choices>
        <name>proposalReview</name>
        <choiceText>Submit for Proposal Review</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PROPOSAL_APPROVAL_PROCESS_NAME</elementReference>
        </value>
    </choices>
    <choices>
        <name>Return_back_to_Quote</name>
        <choiceText>Return back to Quote</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Return back to Quote</stringValue>
        </value>
    </choices>
    <constants>
        <name>ORDER_APPROVAL_PROCESS_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Quote_Order_Approval_Process1</stringValue>
        </value>
    </constants>
    <constants>
        <name>PROPOSAL_APPROVAL_PROCESS_NAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Quote_Proposal_Approval_Process</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Selection</name>
        <label>Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Return to Quote</defaultConnectorLabel>
        <rules>
            <name>Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approval_Selection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>proposalReview</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>Submit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>approvalProcessName</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!recordId.Approval_Status__c},&quot;Proposal Approved&quot;)||ISPICKVAL({!recordId.Approval_Status__c},&quot;Order Rejected&quot;),{!ORDER_APPROVAL_PROCESS_NAME},{!Approval_Selection})</expression>
    </formulas>
    <formulas>
        <name>approvalStatus</name>
        <dataType>String</dataType>
        <expression>IF(
  ISPICKVAL({!recordId.Approval_Status__c}, &quot;Not Submitted&quot;) ||
  ISPICKVAL({!recordId.Approval_Status__c}, &quot;Proposal Rejected&quot;),
  &quot;Pending Proposal Approval&quot;,
  &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>Bypass</name>
        <dataType>Boolean</dataType>
        <expression>IF({!recordId.Bypass_Flow__c} = TRUE, FALSE,TRUE)</expression>
    </formulas>
    <interviewLabel>[Quote] Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote] Submit for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Submission</name>
        <label>Confirm Submission</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selection</targetReference>
        </connector>
        <fields>
            <name>Approval_Selection</name>
            <choiceReferences>proposalReview</choiceReferences>
            <choiceReferences>Return_back_to_Quote</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Approval Selection</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Not Submitted</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Proposal Rejected</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Are_You_Sure</name>
            <fieldText>&lt;p&gt;Are you sure you&apos;d like to submit this Quote for Order Approval?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Order Rejected</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Approval_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Proposal Approved</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirm_Submission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
